<form novalidate ng-submit="createMapping()">
  <div class="row">
    <div class="large-12 medium-12 columns">
      <h3>Create mapping</h3>
    </div>
  </div>
  <div class="row">
    <div class="large-6 medium-6 columns">
      <label>Dataset Concept
        <input type="text" ng-model="selectedDatasetConcept" typeahead="datasetConcept.label for datasetConcept in datasetConcepts track by datasetConcept.uri | filter:{label:$viewValue}">
      </label>
    </div>
    <div class="large-6 medium-6 columns">
      <label>Dataset Concept
        <input type="text" ng-model="selectedStudyConcept" typeahead="studyConcept.label for studyConcept in studyConcepts track by studyConcept.uri | filter:{label:$viewValue}">
      </label>
    </div>
  </div>
  <div class="row modal-bottom-button-bar">
    <div class="large-12 columns">
    <button class="success" type="submit" ng-disabled="!mapping.title || !mapping.type">Create mapping</button>
    </div>
  </div>
  <a class="close-reveal-modal" ng-click="cancel()">×</a>
</form>
