<!-- bound definition -->
<div class="grid-x grid-margin-x">
  <div class="cell large-2">
    <label>{{boundName}} bound
      <input type="checkbox" ng-model="bound.isEnabled" ng-change="toggleBound(bound.isEnabled)">
    </label>
  </div>
  <div class="cell large-2">
    <select ng-disabled="!bound.isEnabled" ng-model="bound.type" ng-options="boundOption.label for boundOption in BOUND_OPTIONS"></select>
  </div>
  <div class="cell large-2">
    <input ng-disabled="!bound.isEnabled" type="number" step="0.001" ng-model="bound.value">
  </div>
  <div class="cell large-3">
    <select ng-disabled="!bound.isEnabled" ng-model="bound.unit" ng-options="scaledUnit.name for scaledUnit in scaledUnits track by scaledUnit.id"></select>
  </div>
  <div class="cell large-3 end">
    <label>per {{bound.unitPeriod | durationFilter}}
    <a ng-if="bound.isEnabled" ng-click="editPeriod.isAddingDuration = true"><i class="fa fa-edit"></i></a>
    <i ng-if="!bound.isEnabled" class="fa fa-edit" style="color: lightgrey;"></i></label>
  </div>
</div>

<!-- per duration -->
<div class="grid-x" ng-if="editPeriod.isAddingDuration">
  <div class="cell large-6 large-offset-3">
    <duration-input duration-string="bound.unitPeriod" template-url="interventionDosingPeriodicityDirective.html">
  </div>
  <div class="cell large-3 end">
    <button class="button small" type="button" ng-click="editPeriod.isAddingDuration = false">Done</button>
  </div>
</div>
