<div class="row">
  <div class="columns large-2">
    <label>Lower bound
      <input class="lower-bound-checkbox" type="checkbox" ng-model="lowerBoundEnabled"
        ng-change="toggleLowerBound(lowerBoundEnabled)">
    </label>
  </div>
  <div class="columns large-2">
    <select ng-disabled="!lowerBoundEnabled" ng-model="model.lowerBound.type" ng-options="lowerBoundOption.label for lowerBoundOption in LOWER_BOUND_OPTIONS"></select>
  </div>
  <div class="columns large-2">
    <input class="lower-bound-value" ng-disabled="!lowerBoundEnabled" type="number" step="0.001"
      ng-model="model.lowerBound.value">
  </div>
  <div class="columns large-1">
    <a ng-disabled="!lowerBoundEnabled" class="fa fa-edit" ng-click=toggleNewLowerBoundScaledUnit()></a>
  </div>
  <div class="columns large-2">
    <select ng-disabled="!lowerBoundEnabled" ng-model="model.lowerBound.unit" ng-options="scaledUnit.name for scaledUnit in scaledUnits" ng-changed="lowerBoundPeriod()"></select>
  </div>
  <div class="columns large-2 end">
    per {{model.lowerBound.unit.unitPeriod | durationFilter}}
    <a ng-disabled="!lowerBoundEnabled" class="fa fa-edit" ng-click="toggleNewLowerBoundPeriodicity()"></a>
  </div>
</div>

<div class="row" ng-if="shows.newLowerBoundScaledUnit">
  <div class="columns large-2">
  </div>
  <div class="columns large-2">
    <select ng-model="newLowerBoundScaledUnit.multiplier" ng-options="multiplier.label for multiplier in metricMultipliers"
      ng-init="newLowerBoundScaledUnit.multiplier=metricMultipliers[5]" ng-change="updateNewScaledUnit(newLowerBoundScaledUnit)"></select>
  </div>
  <div class="columns large-2">
    <select ng-model="newLowerBoundScaledUnit.unit" ng-options="unit.unitName for unit in units"
      ng-init="newLowerBoundScaledUnit.unit=units[0]" ng-change="updateNewScaledUnit(newLowerBoundScaledUnit)"></select>
  </div>
  <div class="columns large-2">
    <input type="text" ng-init="updateNewScaledUnit(newLowerBoundScaledUnit)" ng-model="newLowerBoundScaledUnit.name">
  </div>
  <div class="columns large-2 end">
    <button ng-disabled="!newLowerBoundScaledUnit.multiplier||!newLowerBoundScaledUnit.unit||!newLowerBoundScaledUnit.name || duplicateName(newLowerBoundScaledUnit.name)"
      ng-click="saveScaledUnit(newLowerBoundScaledUnit)">save unit</button>
  </div>
</div> 

<div class="row" ng-if="shows.newLowerBoundPeriodicity">
  <div class="columns large-2">
    <input type="number" step="1" ng-model="lowerBoundPeriodicity.amount" ng-init="lowerBoundPeriodicity.amount=1">
  </div>
  <div class="columns large-2">
    <select ng-model="lowerBoundPeriodicity.unit" ng-options="periodOption.label for periodOption in periodOptions"
      ng-init="lowerBoundPeriodicity.unit=periodOptions[1]">
    </select>
  </div>
  <div class="columns large-2 end">
    <button ng-click=updateLowerBoundPeriodicity()>save</button>
  </div>
</div>

<div class="row">
  <div class="columns large-2">
    <label>Upper bound
      <input class="upper-bound-checkbox" type="checkbox" ng-model="upperBoundEnabled"
        ng-change="toggleUpperBound(upperBoundEnabled)">
    </label>
  </div>
  <div class="columns large-2">
    <select ng-disabled="!upperBoundEnabled" ng-model="model.upperBound.type" ng-options="upperBoundOption.label for upperBoundOption in UPPER_BOUND_OPTIONS"></select>
  </div>
  <div class="columns large-2">
    <input class="upper-bound-value" ng-disabled="!upperBoundEnabled" type="number" step="0.001"
      ng-model="model.upperBound.value">
  </div>
  <div class="columns large-1">
    <a ng-disabled="!upperBoundEnabled" class="fa fa-edit" ng-click=toggleNewUpperBoundScaledUnit()></a>
  </div>
  <div class="columns large-2">
    <select ng-disabled="!upperBoundEnabled" ng-model="model.upperBound.unit" ng-options="scaledUnit.name for scaledUnit in scaledUnits" ng-changed="upperBoundPeriod()"></select>
  </div>
  <div class="columns large-2 end">
    per {{model.upperBound.unit.unitPeriod | durationFilter}}
    <a ng-disabled="!upperBoundEnabled" class="fa fa-edit" ng-click="toggleNewUpperBoundPeriodicity()"></a>
  </div>
</div>

<div class="row" ng-if="shows.newUpperBoundScaledUnit">
  <div class="columns large-2">
  </div>
  <div class="columns large-2">
    <select ng-model="newUpperBoundScaledUnit.multiplier" ng-options="multiplier.label for multiplier in metricMultipliers"
      ng-init="newUpperBoundScaledUnit.multiplier=metricMultipliers[5]" ng-change="updateNewScaledUnit(newUpperBoundScaledUnit)"></select>
  </div>
  <div class="columns large-2">
    <select ng-model="newUpperBoundScaledUnit.unit" ng-options="unit.unitName for unit in units"
      ng-init="newUpperBoundScaledUnit.unit=units[0]" ng-change="updateNewScaledUnit(newUpperBoundScaledUnit)"></select>
  </div>
  <div class="columns large-2">
    <input type="text" ng-init="updateNewScaledUnit(newUpperBoundScaledUnit)" ng-model="newUpperBoundScaledUnit.name">
  </div>
  <div class="columns large-2 end">
    <button ng-disabled="!newUpperBoundScaledUnit.multiplier||!newUpperBoundScaledUnit.unit||!newUpperBoundScaledUnit.name|| duplicateName(newUpperBoundScaledUnit.name)"
      ng-click="saveScaledUnit(newUpperBoundScaledUnit)">save unit</button>
  </div>
</div>

<div class="row" ng-if="shows.newUpperBoundPeriodicity">
  <div class="columns large-2">
    <input type="number" step="1" ng-model="upperBoundPeriodicity.amount" ng-init="upperBoundPeriodicity.amount=1">
  </div>
  <div class="columns large-2">
    <select ng-model="upperBoundPeriodicity.unit" ng-options="periodOption.label for periodOption in periodOptions"
      ng-init="upperBoundPeriodicity.unit=periodOptions[1]">
    </select>
  </div>
  <div class="columns large-2 end">
    <button ng-click=updateUpperBoundPeriodicity()>save</button>
  </div>
</div>
