<form novalidate ng-submit="saveIntervention()">
  <div class="grid-container">
    <div class="row">
      <div class="cell">
        <h3>Edit Intervention</h3>
      </div>
    </div>
    <div class="row">
      <div class="cell">
        <label>Name
          <input autofocus type="text" ng-model="intervention.name" ng-change="checkForDuplicateInterventionName(intervention)">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="cell">
        <label>Motivation
          <textarea rows="8" ng-model="intervention.motivation"></textarea>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="cell">
        <button class="button success" type="submit" ng-disabled="!intervention.name || isDuplicateName || isSaving">Edit</button>
        <div class="alert" ng-show="isDuplicateName">Duplicate name.</div>
      </div>
    </div>
  </div>
  <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</form>