<div>
  <button type="button" ng-click="isAddingScaledUnit = true">Add unit</button>
</div>
<!-- unit definition -->
<div class="row" ng-if="isAddingScaledUnit">
  <div class="columns large-2 large-offset-2">
    <select ng-model="newScaledUnit.multiplier" ng-options="multiplier.label for multiplier in metricMultipliers"
     ng-change="setDefaultName(newScaledUnit)"></select>
  </div>
  <div class="columns large-2">
    <select ng-model="newScaledUnit.unit" ng-options="unit.unitName for unit in unitConcepts"
      ng-change="setDefaultName(newScaledUnit)"></select>
  </div>
  <div class="columns large-2">
    <input type="text" ng-model="newScaledUnit.name">
  </div>
  <div class="columns large-4 end">
    <button class="small" type="button" ng-disabled="isSavingUnit || !newScaledUnit.multiplier || !newScaledUnit.unit || !newScaledUnit.name || isDuplicateName(newScaledUnit.name)"
      ng-click="saveScaledUnit(newScaledUnit)">Save</button>
    <button class="small" type="button" ng-click="isAddingScaledUnit = false">Cancel</button>
  </div>
</div>
