<div class="grid-x">
  <div class="cell">
    <label>
      Selected Study
    </label>
    <ui-select class="addis-select2" style="width:100%;" ng-model="selection.selectedStudy"
      on-select="onStudySelect($item)" ng-disabled="!editMode.allowEditing">
      <ui-select-match>{{$select.selected.name}}
        <i ng-if="$select.selected.group === 1" class="fa fa-exclamation-triangle"></i>
      </ui-select-match>
      <ui-select-choices group-by="'groupLabel'" repeat="study in studyOptions | orderBy:['group', 'name'] | filter: $select.search">
        <span ng-bind-html="study.name | highlight: $select.search"></span>
        <i ng-if="study.group === 1" class="fa fa-exclamation-triangle"></i>
      </ui-select-choices>
    </ui-select>
    <p class="fixed-height-info-container">
      <!-- dummy spacer-->
    </p>
    <div ng-if="selection.selectedStudy.missingOutcomes.length > 0">
      <p>
        <em><i class="fa fa-exclamation-triangle"></i> Selected study lacks these outcomes:
          <span ng-repeat="missingOutcome in selection.selectedStudy.missingOutcomes">{{missingOutcome.outcome.name}}
            <span ng-if="!$last">,</span>
          </span>
        </em>
      </p>
    </div>
    <div ng-if="selection.selectedStudy.missingInterventions.length > 0">
      <p>
        <em>
          <i class="fa fa-exclamation-triangle"></i> Selected study lacks these intervention(s):
          <span ng-repeat="missingIntervention in selection.selectedStudy.missingInterventions">{{missingIntervention.name}}
            <span ng-if="!$last">,</span>
          </span>
        </em>
      </p>
    </div>
    <div ng-if="selection.selectedStudy.hasMatchedMixedTreatmentArm">
      <p>
        <em>
          <i class="fa fa-exclamation-triangle"></i> Selected study has a combination
          treatment arm for at least one of the selected alternatives. We do not
          currently support analysis of such studies.
        </em>
      </p>
    </div>
  </div>
</div>
