<!DOCTYPE html>
<html ng-app="elicit" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width" />
<link rel="shortcut icon" href="<c:url value="/app/img/favicon.ico" />" type="image/x-icon" />

<title>addis.drugis.org</title>
<link rel="stylesheet" type="text/css" href="<c:url value="/app/css/addis-drugis.css" />">

</head>
<body>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="/#">addis.drugis.org</a>
        </h1>
      </li>
    </ul>
  </nav>
    <section id="hero">
    <div class="grid-x">
      <div class="cell">
        <h1 th:text="${errorCode}"><br/>
          <small th:text="${reasonPhrase}"></small>
        </h1>
      </div>
    </div>
  </section>

  <script>
    if(window.location.host.indexOf("test") > -1) {
      document.body.className += " test";
      document.title = "test-" + document.title;
    }
  </script>

</body>
</html>