[submodule "src/main/webapp/resources/drugis-css"]
	path = src/main/webapp/resources/drugis-css
	url = https://github.com/drugis/drugis-css.git
	branch = master
[submodule "src/main/webapp/resources/app/js/bower_components"]
	path = src/main/webapp/resources/app/js/bower_components
	url = git@github.com:ConnorStroomberg/addis-core-bower.git
