<div class="grid-container">
  <div class="grid-x">
    <div class="cell">
      <h3>Commit changes</h3>
      <form>
        <label>Title
          <input type="text" ng-model="commitTitle">
        </label>
        <label>Description
          <textarea ng-model="commitDescription"></textarea>
        </label>
        <button type="submit" class="button success" ng-click="commitChanges(commitTitle, commitDescription)"
          ng-disabled="isCommitting || !commitTitle">Commit changes
        </button>
        <button type="button" class="button secondary" ng-click="commitCancelled()">Cancel</button>
      </form>
    </div>
  </div>
</div>
<button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
  <span aria-hidden="true">&times;</span>
</button>