<form novalidate ng-submit="deleteDefinition()">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h3 class="warning">This will delete {{::definition.definitionType}} {{::definition.name}}</h3>
        <p>Are you sure?</p>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell">
        <button class="button success" type="submit">Yes</button>
        <button class="button" type="button" ng-click="cancel()">No</button>
      </div>
    </div>
  </div>
  <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</form>