<form novalidate ng-submit="editProject()">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h3>Edit project</h3>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell">
        <label>Name
          <input autofocus type="text" ng-model="project.name">
        </label>
        <div ng-show="isNameTaken(project.name)" class="alert">
          <em>Duplicate project name</em>
        </div>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell">
        <label>Description
          <textarea rows="8" ng-model="project.description"></textarea>
        </label>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell">
        <button class="button success" type="submit" ng-disabled="!project.name || isNameTaken(project.name) || isEditing">Edit</button>
      </div>
    </div>
    <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
</form>