<div ui-view>
  <navbar-directive></navbar-directive>
  <ul ng-show="loading.loaded" class="breadcrumbs fixed">
    <li><a ui-sref="datasets({userUid: user.id})">{{::user.firstName}} {{::user.lastName}}</a></li>
    <li><a ui-sref="projects({userUid: userId})">Projects</a></li>
    <li><a ui-sref="projectReport({userUid: userId, projectId: project.id})">{{::project.name}}</a></li>
    <li class="current active">edit</li>
  </ul>

  <div class="row">
    <div class="columns small-12">
      <button ng-click="saveChanges()" ng-disabled="!reportText.text||editMode.disableEditing"><i class="fa fa-save"></i> Save</button>
      <button ng-click="resetToDefault()" ng-disabled="editMode.disableEditing"><i class="fa fa-trash"></i> Default text</button>
      <button ng-click="loadReport()" ng-disabled="editMode.disableEditing"><i class="fa fa-refresh"></i> Generate text</button>
      <button ng-click="openNetworkGraphDialog()" ng-disabled="editMode.disableEditing"><i style="font-weight: bold" class="fa fa-connectdevelop"></i> Network graph</button>
      <button ng-click="openComparisonResultDialog()" ng-disabled="editMode.disableEditing"><i class="fa fa-arrows-h"></i> Comparison result</button>

      <span ng-show="showSaving">Saving</span>
      <span style="color: green" ng-show="showSaved">Report saved</span>
    </div>
  </div>

  <div class="row">
    <div class="columns small-6" style="min-height: 100%">
      <div style="height: 85vh;">
        <textarea ng-model="reportText.text" id="report-input" style="height: 100%;"></textarea>
      </div>
    </div>
    <div class="columns small-6">
      <markdown-report data="reportText.text"></markdown-report>
    </div>
  </div>
</div>
