<div ui-view>
  <navbar-directive></navbar-directive>
  <ul ng-show="loading.loaded" class="breadcrumbs fixed">
    <li><a ui-sref="datasets({userUid: user.id})">{{::user.firstName}} {{::user.lastName}}</a></li>
    <li><a ui-sref="projects({userUid: userId})">Projects</a></li>
    <li><a ui-sref="projectReport({userUid: userId, projectId: project.id})">{{::project.name}}</a></li>
    <li class="current active">edit</li>
  </ul>

  <div class="row">
    <div class="columns small-12">
      <button ng-click="saveChanges(reportText)" ng-disabled="!reportText||editMode.disableEditing"><i class="fa fa-save"></i> Save</button>
      <button ng-click="reportText=resetToDefault()" ng-disabled="editMode.disableEditing"><i class="fa fa-trash"></i> Default text</button>
      <button ng-click="reportText=loadReport()" ng-disabled="editMode.disableEditing"><i class="fa fa-refresh">Generate text</i></button>
      <div ng-show="showSaving" class=fa fa-save>Saving</div>
      <span style="color: green" ng-show="showSaved">Report saved</span>
    </div>
  </div>

  <div class="row">
    <div class="columns small-6" style="min-height: 100%">
      <div style="height: 85vh;">
        <textarea ng-model="reportText" style="height: 100%;"></textarea>
      </div>
    </div>
    <div class="columns small-6">
      <div btf-markdown="reportText"></div>
    </div>
  </div>
</div>
