<div>
  <!-- Outcome: <outcome name> -->
  <span>
    <strong>Outcome: </strong>{{::analysis.outcome.name}}</span>
  <!-- Evidence network graph -->
  <div style="width:500px; height:500px;">
    <network-plot ng-show="!hasTreatmentOverlap" network="network" ng-show="analysis.outcome"></network-plot>
  </div>
  <!-- Primary model: <model title> -->
  <h3>Primary model: {{::primaryModel.title}}
    <em ng-if="!primaryModel">not set</em>
  </h3>
  <!-- Condensed one-line summary of model settings -->
  <span>
    <strong>model settings: </strong>{{modelSettingSummary(primaryModel)}}</span>
  <!-- Link to full model view -->
  <div>
    <a ui-sref="model({userUid: user.id, projectId: project.id, analysisId: analysis.id, modelId: primaryModel.id})">View full model</a>
  </div>

  <!-- Relative effects plot and rank probabilities (consistency model);

   forest plot (pair-wise analysis);
    direct/inderect effects plot (node-splitting);
   covariate effects plots (regression) -->


  <!-- Secondary models: list of model titles, links to the model views -->
  <h3>Secondary models</h3>
  <ul>
    <li ng-repeat="model in otherModels | orderBy:'title'"><a ui-sref="model({userUid: user.id, projectId: project.id, analysisId: analysis.id, modelId: model.id})">{{model.title}}</a></li>
  </ul>
</div>
