<div>
  <a ng-if="analysis.analysisType === 'Benefit-risk analysis' && analysis.finalized"
    ui-sref="metaBenefitRisk({userUid: user.id, projectId: project.id, analysisId: analysis.id})">View details</a>
  <a ng-if="analysis.analysisType === 'Benefit-risk analysis' && !analysis.finalized"
    ui-sref="MetaBenefitRiskCreationStep-1({userUid: user.id, projectId: project.id, analysisId: analysis.id})">View details</a>

  <!--FIXME -->
  <div ng-if="analysis.analysisType === 'Benefit-risk analysis'">
    <strong>Data source:</strong> <a ui-sref="namespace-study({userUid: user.id, projectId: project.id, studyUuid: dataSource.uid})">{{dataSource.name}}</a>
    <em ng-if="!analysis.studyGraphUri">No study has been selected</em>
  </div>
  <div ng-if="analysis.analysisType === 'Benefit-risk analysis'">
    <strong>Data sources:</strong>
    <ul>
      <li ng-repeat="outcomeInclusion in analysis.benefitRiskNMAOutcomeInclusions.concat(analysis.benefitRiskStudyOutcomeInclusions)">
        {{outcomes[outcomeInclusion.outcomeId].name}}:
        <a ui-sref="networkMetaAnalysis({userUid: user.id, projectId: project.id, analysisId: outcomeInclusion.networkMetaAnalysisId})">
          {{analyses[outcomeInclusion.networkMetaAnalysisId].title}}
        </a> &mdash;
        <a ui-sref="model({userUid: user.id, projectId: project.id, analysisId: outcomeInclusion.networkMetaAnalysisId, modelId: outcomeInclusion.modelId})">
          {{models[outcomeInclusion.modelId].title}}
        </a>
      </li>
    </ul>
  </div>
  <!-- /FIXME -->

  <Strong>Effects table:</Strong>
  <table>
    <thead>
      <tr>
        <th>Criterion</th>
        <th>Description</th>
        <th>Units</th>
        <th class="text-center" ng-repeat="(alternativeKey, alternative) in problem.alternatives">{{alternative.title}}{{problem.valueTree.children.children[0].criteria}}</th>
      </tr>
    </thead>
    <tbody class="main">
      <tr ng-repeat="(criterionKey, criterion) in problem.criteria">
        <td>
          {{criterion.title}}
        </td>
        <td>
          <div class="td-container">
            <div class="td-content">{{criterion.description}}</div>
            <div class="td-spacer">{{criterion.description}}</div>
            <span>&nbsp;</span>
          </div>
        </td>
        <td>{{criterion.unitOfMeasurement}}</td>
        <td class="text-center" ng-repeat="(alternativeKey, alternative) in problem.alternatives"
          name="col{{$index}}" id="col{{$index}}">
          {{scales[criterionKey][alternativeKey]['50%'] | number}}
          <br>
          <div class="uncertain" ng-show="!isExact(criterion.key, alternativeKey)">
            {{scales[criterionKey][alternativeKey]['2.5%'] | number}}, {{scales[criterionKey][alternativeKey]['97.5%']
            | number}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-repeat="scenario in scenarios">
    <div>
      <h3>Scenario: {{::scenario.title}}</h3>
    </div>
    <div>
      <strong>Trade-offs:</strong>
      <trade-offs problem="scenario.state.problem" preferences="scenario.state.prefs"></trade-offs>
    </div>
    <div ng-if="scenario.state.results">
      <strong>Rank acceptability plot:</strong>
      <rank-acceptability-plot data="scenario.state.results.ranks.data" problem="scenario.state.problem"></rank-acceptability-plot>
    </div>
  </div>
  <!-- Scenarios list -->
  <!-- per scenario: trade-offs -->
  <!-- per scenario: rank acceptance plot -->
</div>
