<form novalidate ng-submit="createItem()">
  <div class="row">
    <div class="large-9 columns">
      <h3>Add a new Epoch</h3>
    </div>
  </div>
  <div class="row">
    <div class="large-9 columns">
      <label>Name
        <input autofocus="true" type="text" ng-model="item.label">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-9 columns">
      <label>Description
        <textarea rows="8" ng-model="item.comment"></textarea>
      </label>
    </div>
  </div>
  <div class="row" ng-class="{'form-input-group': (item.duration.durationType != 'period')}">
    <div class="large-6 columns">
      <label>Duration</label>
      <input ng-model="item.duration.durationType" type="radio" name="durationType"
             value="instantaneous" id="instantaneousOption"><label for="instantaneousOption">instantaneous</label>
      <input ng-model="item.duration.durationType" type="radio" name="durationType"
             value="period" id="periodOption"><label
        for="periodOption">duration</label>
    </div>
  </div>
  <div ng-show="item.duration.durationType == 'period'" class="row form-input-group">
    <div class="large-offset-3 large-2 columns">
      <label>Amount</label>
      <input type="number" name="input" ng-model="item.duration.numberOfPeriods" min="0">
    </div>
    <div class="large-4 end columns">
      <label>Unit</label>
      <select ng-model="item.duration.periodType" placeholder="select unit"
              ng-options="periodTypeOption.label for periodTypeOption in periodTypeOptions"></select>
    </div>
  </div>
  <div class="row form-input-group">
    <div class="large-9 columns">
      <label for="isPrimaryCheckBox">Is primary epoch</label><input id="isPrimaryCheckBox"
                                                                    ng-model="item.isPrimaryEpoch" type="checkbox">
    </div>
  </div>
  <div class="row">
    <div class="large-9 columns">
      <button class="success" type="submit"
              ng-disabled="(!item.label || !isValidDuration(item.duration, periodTypeOptions))">Add
      </button>
    </div>
  </div>
  <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</form>
