<form novalidate ng-submit="editItem()">
  <div class="row">
    <div class="large-9 columns">
      <h3>Edit Epoch</h3>
    </div>
  </div>
  <div class="row">
    <div class="large-9 columns">
      <label>Name
        <input autofocus="true" type="text" ng-model="itemCache.label.value">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-9 columns">
      <label>Description
        <textarea rows="8" ng-model="itemCache.comment.value"></textarea>
      </label>
    </div>
  </div>
  <div class="row" ng-class="{'form-input-group': (itemCache.duration.durationType.value != 'period')}">
    <div class="large-12 columns">
      <label>Duration</label>
      <input ng-model="itemCache.duration.durationType" type="radio" name="durationType"
             value="instantaneous" id="instantaneousOption"><label for="instantaneousOption">instantaneous</label>
      <input ng-model="itemCache.duration.durationType" type="radio" name="durationType"
             value="period" id="periodOption"><label
        for="periodOption">duration</label>
    </div>
  </div>
  <div ng-show="itemCache.duration.durationType == 'period'" class="row form-input-group">
    <div class="large-offset-3 large-2 columns">
      <label>Amount</label>
      <input type="number" name="input" ng-model="itemCache.duration.numberOfPeriods" min="0">
    </div>
    <div class="large-4 end columns">
      <label>Unit</label>
      <select ng-model="itemCache.duration.periodType.value" placeholder="select unit"
              ng-options="periodTypeOption.value as periodTypeOption.label for periodTypeOption in periodTypeOptions"></select>
    </div>
  </div>
  <div class="row form-input-group">
    <div class="large-9 columns">
      <label for="isPrimaryCheckBox">Is primary epoch</label><input id="isPrimaryCheckBox"
                                                                    ng-model="itemCache.isPrimary.value" type="checkbox">
    </div>
  </div>
  <div class="row">
    <div class="large-9 columns">
      <button class="success" type="submit"
              ng-disabled="(!itemCache.label || !isValidDuration(itemCache.duration, periodTypeOptions))">Edit
      </button>
    </div>
  </div>
  <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</form>
