<navbar-directive>
</navbar-directive>
<ul class="breadcrumbs">
  <li><a ui-sref="user">Datasets</a></li>
  <li><a ui-sref="versionedDataset({userUid: userUid, datasetUUID: datasetUUID, versionUuid: versionUuid})">{{dataset.label}}</a></li>
  <li><a class="current active">Concepts</a></li>
</ul>
<div class="row nav-bar-spacer">
  <div class="columns large-2 medium-3">
    <ul class="side-nav">
      <button ng-show="isEditingAllowed" ng-disabled="!areConceptsModified()" ng-click="saveConcepts()"
      class="button expand success">Commit changes</button>
      <div ng-show="isEditingAllowed" class="modified-warning info">
        <div ng-show="areConceptsModified()"><a ng-click="resetConcepts()" style="text-decoration: underline;">undo changes</a></div>
        <div ng-show="!areConceptsModified()">No unsaved changes</div>
      </div>
      <li class="divider"></li>
      <li class="heading">Concepts</li>
      <li><a ng-click="sideNavClick('drugs')">Drugs</a></li>
      <li><a ng-click="sideNavClick('variables')">Variables</a></li>
    </ul>
  </div>
  <div class="columns large-10 medium-9">
    <h1>Concepts</h1>
    <version-info></version-info>
    <button ng-show="isEditingAllowed" class="small" ng-click="openAddConceptDialog()"><i class="fa fa-plus"> Add Concept</i></button>
    <h3>Drugs</h3>
    <ul id="drugs">
      <li ng-repeat="concept in concepts | filter:'ontology:Drug' | orderBy:'label'">{{concept.label}}</li>
    </ul>
    <h3>Variables</h3>
    <ul id="variables">
      <li ng-repeat="concept in concepts | filter:'ontology:Variable'  | orderBy:'label'">{{concept.label}}</li>
    </ul>
  </div>
</div>
