<form novalidate ng-submit="createConcept()">
  <div class="row">
    <div class="large-12 medium-12 columns">
      <h3>Create concept</h3>
    </div>
  </div>
  <div class="row">
    <div class="large-12 medium-12 columns">
      Title: <input ng-model="concept.label" type="text"></input>
      <label>Type
        <select ng-model="concept.type" ng-options="typeOption.label for typeOption in typeOptions"></select>
      </label>
    </div>
  </div>
  <div class="row modal-bottom-button-bar">
    <div class="large-12 columns">
    <button class="success" type="submit" ng-disabled="!concept.label || !concept.type">Create concept</button>
    </div>
  </div>
  <a class="close-reveal-modal" ng-click="cancel()">×</a>
</form>
