<form novalidate ng-submit="createConcept()">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h3>Create concept</h3>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell">
        Title:
        <input ng-model="concept.label" ng-change="checkDuplicate(concept)" type="text"></input>
        <label>Type
          <select ng-model="concept.type" ng-options="typeOption.label for typeOption in typeOptions"
            ng-change="checkDuplicate(concept)"></select>
        </label>
      </div>
    </div>
    <div class="grid-x modal-bottom-button-bar">
      <div class="cell">
        <button class="button success" type="submit" ng-disabled="!concept.label || !concept.type || isDuplicate">Create concept</button>
      </div>
    </div>
  </div>
  <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</form>