<ul ng-show="loading.loaded" class="breadcrumbs">
  <li><a href="#/projects">Projects</a></li>
  <li><a href="#/projects/{{project.id}}">{{project.name}}</a></li>
  <li class="current active">{{analysis.name}}</li>
</ul>
<div>
  <div class="project-header row">
    <div class="columns large-12">
      <h1 class="inline-header" title="Analysis title">{{analysis.name}}</h1>

      <h3 class="subheader inline-header" title="Analysis type">/ {{analysis.analysisType}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="columns large-12 nested-view">
      <div class="nested-view-header">
        Selected Criteria
      </div>
      <div class="row">
        <div class="columns large-6 nested-view">
          <select id="criteriaSelect" multiple ui-select2 ng-model="selectedOutcomeIds"
                  data-placeholder="no criteria selected">
            <option ng-repeat="outcome in outcomes" value={{outcome.id}}>{{outcome.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns large-12 nested-view">
      <div class="nested-view-header">
        Selected Alternatives
      </div>
      <div class="row">
        <div class="columns large-6 nested-view">
          <select id="interventionsSelect" multiple ui-select2 ng-model="selectedInterventionIds"
                  data-placeholder="no interventions selected">
            <option ng-repeat="intervention in interventions" value={{intervention.id}}>{{intervention.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns large-12 nested-view">
      <div class="nested-view-header">
        Selected Study
      </div>
      <div class="row">
        <div class="columns large-6 nested-view">
          <select ng-model="analysis.studyId" ng-options="study.id as study.name for study in studies">
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns large-12 nested-view">
      <button ng-click="createProblem()">Perform MCDA Analysis</button>
    </div>
  </div>
</div>