<ul ng-show="loading.loaded" class="breadcrumbs">
    <li><a href="#/projects">Projects</a></li>
    <li><a href="#/projects/{{project.id}}">{{project.name}}</a></li>
    <li class="current active">{{analysis.name}}</li>
</ul>
<div>
  <div class="project-header row">
    <div class="columns large-12">
          <div ng-if="error" ng-cloak>
      <alert type="alert" close="error.close()">Computation failed: {{error.code}} <span ng-show="error.error">&mdash; {{error.error}}</span></alert>
    </div>
      <h1 class="inline-header" title="Analysis title">{{analysis.name}}</h1>

      <h3 class="subheader inline-header" title="Analysis type">/ {{analysis.analysisType}}</h3>
    </div>
  </div>
  <div ui-view></div>
</div>