<ul ng-show="loading.loaded" class="breadcrumbs">
  <li><a href="#/projects">Projects</a></li>
  <li><a href="#/projects/{{project.id}}">{{project.name}}</a></li>
  <li class="current active">{{analysis.name}}</li>
</ul>
<div>
  <div class="project-header row">
    <div class="columns large-12">
      <h1 class="inline-header" title="Analysis title">{{analysis.name}}</h1>
      
      <h3 class="subheader inline-header" title="Analysis type">/ {{analysis.analysisType}}</h3>
    </div>
  </div>

  <div class="row">
    <div class="columns large-12 nested-view">
      <div class="nested-view-header">
        Select Criteria
      </div>
<select ui-select2 ng-model="number" data-placeholder="Pick a number">
    <option value=""></option>
    <option value="one">First</option>
    <option value="two">Second</option>
    <option value="three">Third</option>
</select>
    </div>
  </div>

  <div class="row">
    <div class="columns large-12 nested-view">
      Select Alternatives
    </div>
  </div>

  <div class="row">
    <div class="columns large-12 nested-view">
      Select Study
    </div>
  </div>

  <div class="row">
    <div class="columns large-12 nested-view">
      <button ng-disabled="true">Perform MCDA Analysis</button>
    </div>
  </div>



</div>