<navbar-directive>
</navbar-directive>
<ul class="breadcrumbs">
    <li><a ui-sref="projects({userUid: userId})">Projects</a></li>
    <li class="current active">Datasets</li>
</ul>
<div class="row">
    <div class="column large-12">
        <h2>Datasets</h2>

        <div class="panel callout">
            <div class="row">
                <div class="column large-6">
                    <p>Currently, each project is based on a "dataset", which is a collection of clinical trials
                        data with the associated meta-data. The two example "datasets" currently available contain data
                        imported from the example datasets that were available in ADDIS 1.16.

                        Eventually, we will allow users to define their own sets of clinical trials and meta-data.
                    </p>
                </div>
            </div>
        </div>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th width="75">Studies</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="namespace in namespaces">
                <td>{{namespace.name}}</td>
                <td>{{namespace.description}}</td>
                <td class="text-center"><a ui-sref="namespace({namespaceUid: namespace.uid})">{{namespace.numberOfStudies}}
                </td>
                <td class="text-center">Source document link unavailable</td><!--<a href="{{namespace.sourceUrl}}">Source document <i class="fa fa-external-link"></i> </a>-->
                <td class="button-cell">
                    <button class="button" ng-click="showCreateProjectModal(namespace)"><i
                            class="fa fa-plus"></i> Create project
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
<modal model="createProjectModal">
    <h3>Create a new project based on {{createProjectModal.selectedNamespace.name}}</h3>

    <form name="projectForm">
        <div class="row">
            <div class="large-8 columns">
                <label>Name
                    <input type="text" ng-model="model.name">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-8 columns">
                <label>Description
                    <textarea rows="8" ng-model="model.description"></textarea>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <ul class="button-group">
                    <li>
                        <button class="button small secondary" ng-click="createProjectModal.close()">Cancel</button>
                    </li>
                    <li>
                        <button class="button small success" ng-disabled="!model.name" ng-click="createProject(model)">
                            Create project
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</modal>
