<div class="row">
  <div class="columns large-12">
    <div class="table-title">Evidence table</div>
    <table class="network-meta-analysis-table">
      <thead>
        <tr>
          <th rowspan="2">Studies</th>
          <th rowspan="2">Measurement Moment</th>
          <th ng-show="trialData[0].covariatesColumns.length > 0" colspan="{{trialData[0].covariatesColumns.length}}">Covariates
          </th>
          <th rowspan="2">Interventions</th>
          <th rowspan="2">Arms</th>
          <th rowspan="2" ng-show="trialData[0].measurements[momentSelections[trialData[0].studyUri].uri].type === 'dichotomous'">subjects with outcome <inline-help help-key="count"></inline-help></th>

          <th rowspan="2" ng-show="trialData[0].measurements[momentSelections[trialData[0].studyUri].uri].type === 'continuous'">&mu;
          <inline-help help-key="mean"></inline-help></th>

          <th rowspan="2" ng-show="trialData[0].measurements[momentSelections[trialData[0].studyUri].uri].type === 'continuous' && showSigmaN">&sigma;
          <inline-help help-key="standard-deviation"></inline-help></th>

          <th rowspan="2" style="min-width:6em" ng-show="showSigmaN">N<inline-help help-key="sample-size"></inline-help></th>
          <th rowspan="2" ng-show="showStdErr">standard error<inline-help help-key="standard-error"></inline-help></th>

        </tr>
        <tr>
          <th ng-repeat="covariate in trialData[0].covariatesColumns">{{covariate.headerTitle}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="!analysis.outcome">
          <td colspan="7">No outcome selected.</td>
        </tr>
        <tr ng-show="analysis.outcome && !trialData.length">
          <td colspan="7">No studies measuring selected outcome.</td>
        </tr>
        <tr ng-repeat="dataRow in trialData" ng-class="{topborder: dataRow.firstStudyRow}">
          <td ng-show="dataRow.firstStudyRow" rowspan="{{dataRow.studyRowSpan}}">
            <a ui-sref="namespace-study({userUid: userId, projectId: project.id, studyUid: dataRow.studyUid})">{{dataRow.study}}</a>
            <div class="info" ng-show="dataRow.numberOfMatchedInterventions < 2 || dataRow.numberOfIncludedInterventions < 2">Excluded; Fewer than two included interventions.
            </div>
            <div ng-show="dataRow.numberOfIncludedInterventions > 1 && isMissingByStudyMap[dataRow.studyUri]"
              class="alert-message">
              Study has missing values.
            </div>
          </td>

          <td ng-show="dataRow.firstStudyRow" rowspan="{{dataRow.studyRowSpan}}">
            <select ng-if="!editMode.disableEditing && !hasModel" ng-options="measurementMoment.label for measurementMoment in dataRow.measurementMoments"
              ng-model="momentSelections[dataRow.studyUri]" ng-change="changeMeasurementMoment(momentSelections[dataRow.studyUri], dataRow)">
            </select>
            <span ng-if="editMode.disableEditing || hasModel">{{momentSelections[dataRow.studyUri].label}}</span>
          </td>

          <td ng-repeat="covariate in dataRow.covariatesColumns" ng-show="dataRow.firstStudyRow"
            rowspan="{{dataRow.studyRowSpan}}" class="text-center">
            {{covariate.data}}
          </td>
          <td ng-show="dataRow.firstInterventionRow" class="text-center" ng-class="{undefined:dataRow.intervention === 'unmatched'}"
            rowspan="{{dataRow.interventionRowSpan}}">
            {{dataRow.intervention}}
            <div ng-show="dataRow.intervention !== 'unmatched' && doesInterventionHaveAmbiguousArms(dataRow.interventionId, dataRow.studyUri)"
              class="alert-message">
              Ambiguous arms, please choose a single arm for inclusion
            </div>
            <div ng-show="!lessThanTwoInterventionArms(dataRow) && dataRow.overlappingInterventionWarning"
              class="alert-message">
              Ambiguous: {{dataRow.overlappingInterventionWarning}}
            </div>
          </td>

          <td>
            <label>
              <input type="checkbox" ng-disabled="editMode.disableEditing || dataRow.intervention === 'unmatched' || hasModel"
                ng-model="dataRow.included" ng-change="changeArmExclusion(dataRow)"> {{dataRow.arm}}
            </label>
          </td>

          <td ng-show="dataRow.measurements[momentSelections[dataRow.studyUri].uri].type === 'dichotomous'"
            ng-class="{undefined:dataRow.intervention === 'unmatched'}" class="text-center">
            {{dataRow.measurements[momentSelections[dataRow.studyUri].uri].rate}}
          </td>
          <td ng-show="dataRow.measurements[momentSelections[dataRow.studyUri].uri].type === 'continuous'"
            class="large-2" ng-class="{undefined:dataRow.intervention === 'unmatched'}"
            class="text-center">{{dataRow.measurements[momentSelections[dataRow.studyUri].uri].mu}}
          </td>
          <td ng-show="showSigmaN && dataRow.measurements[momentSelections[dataRow.studyUri].uri].type === 'continuous'"
            class="large-2" ng-class="{undefined:dataRow.intervention === 'unmatched'}"
            class="text-center">{{dataRow.measurements[momentSelections[dataRow.studyUri].uri].sigma}}
          </td>
          <td ng-show="showSigmaN" ng-class="{undefined:dataRow.intervention === 'unmatched'}"
            class="text-center">
            {{dataRow.measurements[momentSelections[dataRow.studyUri].uri].sampleSize}}
          </td>
          <td ng-show="showStdErr && dataRow.measurements[momentSelections[dataRow.studyUri].uri].type === 'continuous'"
            class="large-2" ng-class="{undefined:dataRow.intervention === 'unmatched'}"
            class="text-center">{{dataRow.measurements[momentSelections[dataRow.studyUri].uri].stdErr}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
