<div class="row">
  <div class="columns large-12">
    <div class="table-title">Evidence table</div>
    <table class="network-meta-analysis-table">
      <thead>
        <tr>
          <th rowspan="2">Studies</th>
          <th rowspan="2">Measurement Moment</th>
          <th ng-show="trialData[0].covariatesColumns.length > 0" colspan="{{trialData[0].covariatesColumns.length}}">Covariates
          </th>
          <th rowspan="2">Interventions</th>
          <th rowspan="2">Arms</th>
          <th rowspan="2" ng-repeat="column in columns" ng-if="showColumn[column.dataKey]">
            {{column.label}}
            <inline-help help-key="{{column.helpKey}}"></inline-help>
          </th>

        </tr>
        <tr>
          <th ng-repeat="covariate in trialData[0].covariatesColumns">{{covariate.headerTitle}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="!analysis.outcome">
          <td colspan="7">No outcome selected.</td>
        </tr>
        <tr ng-show="!loading.loaded">
          <td colspan="7">Loading studies</td>
        </tr>
        <tr ng-show="analysis.outcome && !trialData.length && loading.loaded">
          <td colspan="7">No studies found for selected outcome and intervention(s).</td>
        </tr>
        <tr ng-repeat="dataRow in trialData" ng-class="{topborder: dataRow.firstStudyRow}">
          <td ng-show="dataRow.firstStudyRow" rowspan="{{dataRow.studyRowSpan}}">
            <a ui-sref="versionedDataset.study({userUid: userId, datasetUuid: project.namespaceUid, versionUuid: project.datasetVersionUuid, studyGraphUuid: dataRow.studyUuid})">{{dataRow.study}}</a>
            <div class="info" ng-show="dataRow.numberOfMatchedInterventions < 2 || dataRow.numberOfIncludedInterventions < 2">Excluded; Fewer than two included interventions.
            </div>
            <div ng-show="dataRow.numberOfIncludedInterventions > 1 && isMissingByStudyMap[dataRow.studyUri]"
              class="alert-message">
              Study has missing values.
            </div>
          </td>

          <td ng-show="dataRow.firstStudyRow" rowspan="{{dataRow.studyRowSpan}}">
            <select ng-if="!editMode.disableEditing && !hasModel" ng-options="measurementMoment.label for measurementMoment in dataRow.measurementMoments"
              ng-model="momentSelections[dataRow.studyUri]" ng-change="changeMeasurementMoment(momentSelections[dataRow.studyUri], dataRow)">
            </select>
            <span ng-if="editMode.disableEditing || hasModel">{{momentSelections[dataRow.studyUri].label}}</span>
          </td>

          <td ng-repeat="covariate in dataRow.covariatesColumns" ng-show="dataRow.firstStudyRow"
            rowspan="{{dataRow.studyRowSpan}}" class="text-center">
            {{covariate.data}}
          </td>
          <td ng-show="dataRow.firstInterventionRow" class="text-center" ng-class="{undefined:dataRow.intervention === 'unmatched'}"
            rowspan="{{dataRow.interventionRowSpan}}">
            {{dataRow.intervention}}
            <div ng-show="dataRow.intervention !== 'unmatched' && doesInterventionHaveAmbiguousArms(dataRow.interventionId, dataRow.studyUri)"
              class="alert-message">
              Ambiguous arms, please choose a single arm for inclusion
            </div>
            <div ng-show="!lessThanTwoInterventionArms(dataRow) && dataRow.overlappingInterventionWarning"
              class="alert-message">
              Ambiguous: {{dataRow.overlappingInterventionWarning}}
            </div>
          </td>

          <td>
            <label>
              <input type="checkbox" ng-disabled="editMode.disableEditing || dataRow.intervention === 'unmatched' || hasModel"
                ng-model="dataRow.included" ng-change="changeArmExclusion(dataRow)"> {{dataRow.arm}}
            </label>
          </td>
          <td ng-repeat="column in columns" ng-if="showColumn[column.dataKey]" ng-class="{undefined:dataRow.intervention === 'unmatched'}"
            class="text-center">
            {{dataRow.measurements[momentSelections[dataRow.studyUri].uri][column.dataKey]}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
