<div class="row">
    <div class="columns large-12">
        <div class="table-title">Evidence table</div>
        <table class="network-meta-analysis-table">
            <thead>
            <tr>
                <th rowspan="2">Studies</th>
                <th ng-show="trialData[0].covariatesColumns.length > 0"
                    colspan="{{trialData[0].covariatesColumns.length}}">Covariates
                </th>
                <th rowspan="2">Interventions</th>
                <th rowspan="2">Arms</th>
                <th rowspan="2" ng-show="trialData[0].rate !== null">Subjects with outcome</th>
                <th rowspan="2" ng-show="trialData[0].mu !== null">&mu;</th>
                <th rowspan="2" ng-show="trialData[0].sigma !== null">&sigma;</th>
                <th rowspan="2" ng-show="trialData[0].sampleSize !== null">N</th>
            </tr>
            <tr>
                <th ng-repeat="covariate in trialData[0].covariatesColumns">{{covariate.headerTitle}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-show="!analysis.outcome">
                <td colspan="7">No outcome selected.</td>
            </tr>
            <tr ng-show="analysis.outcome && !trialData.length">
                <td colspan="7">No studies measuring selected outcome.</td>
            </tr>
            <tr ng-repeat="dataRow in trialData" ng-class="{topborder: dataRow.firstStudyRow}">
                <td ng-show="dataRow.firstStudyRow" rowspan="{{dataRow.studyRowSpan}}">
                    <a ui-sref="namespace-study({userUid: userId, projectId: project.id, studyUid: dataRow.studyUid})">{{dataRow.study}}</a>
                    <div class="info" ng-show="lessThanTwoInterventionArms(dataRow)">Fewer than two included
                        interventions. This study will be excluded.
                    </div>
                </td>
                <td ng-repeat="covariate in dataRow.covariatesColumns" ng-show="dataRow.firstStudyRow"
                    rowspan="{{dataRow.studyRowSpan}}" class="text-center">
                    {{covariate.data}}
                </td>
                <td ng-show="dataRow.firstInterventionRow" class="text-center"
                    ng-class="{undefined:dataRow.intervention === 'unmatched'}"
                    rowspan="{{dataRow.interventionRowSpan}}">
                    {{dataRow.intervention}}
                    <div ng-show="dataRow.intervention !== 'unmatched' && doesInterventionHaveAmbiguousArms(dataRow.drugConceptUid, dataRow.studyUid)"
                         class="alert-message">
                        Ambiguous arms, please choose a single arm for inclusion
                    </div>
                </td>
                <td>
                    <label><input type="checkbox"
                                  ng-disabled="editMode.disableEditing || dataRow.intervention === 'unmatched' || hasModel"
                                  ng-model="dataRow.included" ng-change="changeArmExclusion(dataRow)">
                        {{dataRow.arm}}</label>
                </td>
                <td ng-show="dataRow.rate !== null" ng-class="{undefined:dataRow.intervention === 'unmatched'}"
                    class="text-center">
                    {{dataRow.rate}}
                </td>
                <td ng-show="trialData[0].mu !== null" class="large-2"
                    ng-class="{undefined:dataRow.intervention === 'unmatched'}" class="text-center">{{dataRow.mu}}
                </td>
                <td ng-show="trialData[0].sigma !== null" class="large-2"
                    ng-class="{undefined:dataRow.intervention === 'unmatched'}" class="text-center">{{dataRow.sigma |
                    number: 3}}
                </td>
                <td ng-show="trialData[0].sampleSize !== null"
                    ng-class="{undefined:dataRow.intervention === 'unmatched'}" class="text-center">
                    {{dataRow.sampleSize}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
