<ul class="breadcrumbs">
    <li><a ui-sref="projects">Projects</a></li>
    <li><a ui-sref="create-project">Datasets</a></li>
    <li class="current active">{{namespace.name}}</li>
</ul>

<div class="row">
    <div class="column large-10">
        <h2>Overview for the {{namespace.name}} dataset</h2>
        <h5>{{namespace.description}}, {{studiesWithDetails.length}} studies</h5>
    </div>
    <div class="column large-2">
        <button class="button small secondary right" ng-click="editStudyTableModal.open();">
            <i class="fa fa-cog"></i>&nbsp; Show/Hide Columns
        </button>
    </div>
</div>
<div class="row">
    <div class="column large-12">
        <table>
            <thead>
            <tr>
                <th class="sortable"
                    ng-click="tableOptions.orderByField = 'name'; tableOptions.reverseSortOrder=!tableOptions.reverseSortOrder">
                    Name
                    <i ng-show="tableOptions.reverseSortOrder &&  tableOptions.orderByField === 'name'"
                       class="fa fa-caret-up"></i>
                    <i ng-show="!tableOptions.reverseSortOrder &&  tableOptions.orderByField === 'name'"
                       class="fa fa-caret-down"></i>
                </th>
                <th class="sortable" ng-show="column.visible" ng-repeat="column in tableOptions.columns"
                    ng-click="tableOptions.orderByField = column.id; tableOptions.reverseSortOrder=!tableOptions.reverseSortOrder">
                    {{column.label}}
                    <i ng-show="tableOptions.reverseSortOrder &&  tableOptions.orderByField === column.id"
                       class="fa fa-caret-up"></i>
                    <i ng-show="!tableOptions.reverseSortOrder &&  tableOptions.orderByField === column.id"
                       class="fa fa-caret-down"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="studyWithDetails in studiesWithDetails | orderBy:tableOptions.orderByField:tableOptions.reverseSortOrder ">
                <td><a ui-sref="study({namespaceUid: namespace.uid, studyUid: studyWithDetails.graphUuid})">{{studyWithDetails.name}}</a>
                </td>
                <td ng-show="column.visible" ng-repeat="column in tableOptions.columns">
                    <span ng-show="!column.type">{{studyWithDetails[column.id]}}</span>
                <span ng-show="column.type === 'urlList'"
                      ng-repeat="uri in studyWithDetails.pubmedUrls | splitOnTokenFilter">
                  <a target="_blank" ng-href={{uri}}>{{uri}}</a>
                  <span ng-show=!$last>, </span>
                </span>
                <span ng-show="column.type === 'date'">
                    {{studyWithDetails[column.id].millis | date:'yyyy-MM-dd'}}
                </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div ng-show="!studiesWithDetails.$resolved" class="row">
    <div class="column center large-12">
        <i class="fa fa-spinner fa-spin fa-3x"></i>

        <p>Loading table data...

        <p>
    </div>
</div>


<modal model="editStudyTableModal">
    <h3>Columns to be shown</h3>

    <form name="projectForm">
        <div class="row">
            <div class="large-12 column">
                <ul class="no-bullet">
                    <li ng-repeat="column in tableOptions.columns">
                        <input id="{column.id}" ng-model="column.visible" type="checkbox">
                        <label ng-click="column.visible = !column.visible">{{column.label}}</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="large-12 column">
                <ul class="button-group">
                    <li>
                        <button class="button" ng-click="editStudyTableModal.close()">Close</button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</modal>
