<ul ng-show="loading.loaded" class="breadcrumbs">
  <li><a href="#/projects">Projects</a></li>
  <li><a href="#/projects/{{project.id}}">{{project.name}}</a></li>
  <li class="current active">{{analysis.title}}</li>
</ul>
<div ng-if="error" class="row" ng-cloak>
    <div class="columns">
        <app-alert type="alert" close="error.close()" error="error"></span></app-alert>
    </div>
</div>
<div>
  <div class="project-header row">
    <div class="columns large-12">
      <h1 class="inline-header" title="Analysis title">{{analysis.title}}</h1>
      <h3 class="subheader inline-header" title="Analysis type">/ {{analysis.analysisType}}</h3>
    </div>
  </div>
<div class="row">
  <div class="columns large-6">
    <div ui-view="networkMetaAnalysis"></div>
    <div ui-view="models"></div>
  </div>
  <div class="columns large-6">
    <div ui-view="network"></div>
  </div>
</div>
<div ui-view="evidenceTable"></div>
</div>
<div ui-view></div>
