<label>Network graph</label>
<div class="addis-graph">
  <div class="grid-x">
    <div class="cell large-11 large-centered">
      <div ng-show="!analysis.outcome">
        <p>No outcome selected.</p>
      </div>
      <div ng-show="hasTreatmentOverlap" style="margin-top: 2rem; margin-bottom: 2rem;">
        <em>Can not show graph due to ambiguous interventions</em>
      </div>
      <network-plot ng-show="!hasTreatmentOverlap && analysis.outcome" network="networkGraph"></network-plot>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      <div class="graph-legend text-smaller">
        <p>The network graph shows the evidence network for all selected interventions.
          The size of an intervention's circle reflects the total number of participants
          for that intervention. Lines signify that interventions are connected through
          at least one study, with thicker lines indicating more connecting studies.</p>
      </div>
    </div>
  </div>
</div>
