<navbar-directive>
</navbar-directive>
<ul class="breadcrumbs">
    <li><a ui-sref="datasets({userUid: user.id})">{{user.firstName}} {{user.lastName}}</a></li>
    <li><a ui-sref="projects({userUid: userId})">Projects</a></li>
    <li><a ui-sref="project({userUid: userId, projectId: project.id})">{{project.name}}</a></li>
    <li><a ui-sref="networkMetaAnalysis({userUid: userId, projectId: project.id, analysisId: analysis.id})">{{analysis.title}}</a></li>
    <li ng-show="model.title" class="current active">{{model.title}}</li>
</ul>
<div ui-view></div>
