<div class="row">
    <div class="columns large-12 nested-view">
        <div class="nested-view-header">
            Selected Outcome
        </div>
        <div class="row">
            <div class="columns large-6 nested-view">
                <select ng-model="analysis.outcome"
                        ng-options="outcome.name for outcome in outcomes"
                        ng-disabled="editMode.disableEditing"
                        ng-change="saveAnalysis()"></select>
            </div>
        </div>
        <div class="row">
            <div class="columns large-6">
                <button ng-click="goToModel()">Go to GeMTC model</button>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="columns large-12 nested-view">
        <table class="network-meta-analysis-table">
            <thead>
            <tr>
                <th class="large-3">Studies</th>
                <th class="large-3">Interventions</th>
                <th class="large-3">Arms</th>
                <th ng-show="trialData[0].rate !== null" class="large-2">Rate</th>
                <th ng-show="trialData[0].mu !== null" class="large-1">&mu;</th>
                <th ng-show="trialData[0].sigma !== null" class="large-1">&sigma;</th>
                <th ng-show="trialData[0].sampleSize !== null" class="large-1">N</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="dataRow in trialData" ng-class="{topborder: dataRow.firstStudyRow}">
                <td ng-show="dataRow.firstStudyRow" rowspan="{{dataRow.studyRowSpan}}">{{dataRow.study}}</td>
                <td ng-show="dataRow.firstInterventionRow" ng-class="{undefined:dataRow.intervention === 'unmatched'}"
                    rowspan="{{dataRow.interventionRowSpan}}">
                    {{dataRow.intervention}}
                </td>
                <td>{{dataRow.arm}}</td>
                <td ng-show="dataRow.rate !== null">{{dataRow.rate}}</td>
                <td ng-show="trialData[0].mu !== null" class="large-2">{{dataRow.mu}}</td>
                <td ng-show="trialData[0].sigma !== null" class="large-2">{{dataRow.sigma | number: 3}}</td>
                <td ng-show="trialData[0].sampleSize !== null">{{dataRow.sampleSize}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>