<navbar-directive>
</navbar-directive>
<ul class="breadcrumbs fixed">
  <li><a ui-sref="datasets({userUid: user.id})">{{user.firstName}} {{user.lastName}}</a></li>
  <li><a ui-sref="projects({userUid: userId})">Projects</a></li>
  <li><a ui-sref="project({userUid: userId, projectId: project.id})">{{project.name}}</a></li>
  <li class="current active">{{analysis.title}}</li>
</ul>
<div class=grid-container>
  <spinner promise="analysisPromise" size="3" message="'Loading analysis...'">
    <div class="grid-x project-header">
      <div class="cell">
        <h1 class="inline-header" title="Analysis title">{{analysis.title}}</h1>
        <h3 class="subheader inline-header" title="Analysis type">/ {{analysis.analysisType}} <a  ng-if="!editMode.disableEditing" ng-click="editAnalysisTitle()"><i class="fa fa-edit"></i></a></h3>
      </div>
    </div>
    <hr>
    <div class="grid-x grid-margin-x">
      <div class="cell large-6">
        <div ui-view="networkMetaAnalysis"></div>
        <div ui-view="models"></div>
      </div>
      <div class="cell large-6">
        <div ui-view="network"></div>
      </div>
      <div class="cell" ng-if="!analysis.outcome">
        No outcome selected.
      </div>
    </div>
    <div ng-if="analysis.outcome">
      <absolute-evidence-table ng-if="absoluteEvidenceTableRows.length" rows="absoluteEvidenceTableRows" edit-mode="editMode"
        analysis="analysis" studies="studies" project="project"></absolute-evidence-table>
      <contrast-evidence-table ng-if="contrastEvidenceTableRows.length" rows="contrastEvidenceTableRows" edit-mode="editMode"
        analysis="analysis" studies="studies" project="project"></contrast-evidence-table>
    </div>
  </spinner>
</div>
