<ul ng-show="loading.loaded" class="breadcrumbs">
  <li><a href="#/projects">Projects</a></li>
  <li class="current active">{{project.name}}</li>
</ul>
<div>
  <div class="row">
    <div class="columns large-12">
      <h2 class="inline-header" title="Project title">{{project.name}}</h2>

      <h3 class="subheader inline-header" title="Trialverse namespace">/ {{project.trialverseId.name}}</h3>

      <div class="row">
        <div class="columns large-6 small-12">
          <p class="project-description" title="Project description">{{project.description}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns large-6">
      Outcomes
      <button ng-click="addOutcome({name:'name', motivation: 'motivation', semanticOutcome: 'semantics'})">Click mij
      </button>
      <ul>
        <li ng-repeat="outcome in project.outcomes">
          <span title="outcome name">{{outcome.name}} </span> -
          <span title="outcome motivation">{{outcome.motivation}} </span> -
          <span title="corrensponding trialverseId semantic outcome">{{outcome.semanticOutcome}} </span>
        </li>
      </ul>
    </div>
    <div class="columns large-6">
      Interventions
    </div>
  </div>
  <div class="row">
    <div class="columns large-12">
      Analyses
    </div>
  </div>
</div>