<div class="row">
  <div class="columns large-12">
    <h3>Your projects</h3>

    <div class="panel">
      <ul>
        <li ng-show="!(projects | filter:user.id).length">No projects</li>
        <li ng-repeat="project in projects | isOwnProject(user.id) ">
          <a href="/projects/{{project.id}}">{{project.name}} - {{project.description}} - {{project.owner.firstName}}
            {{project.owner.lastName}}</a>
        </li>
      </ul>
    </div>

    <h3>Other projects</h3>

    <div class="panel">
      <ul>
        <li ng-show="!(projects | filter:'!'+user.id).length">No other projects</li>
        <li ng-repeat="project in projects | filter:'!'+user.id ">
          <a href="/projects/{{project.id}}">{{project.name}} - {{project.description}} - {{project.owner.firstName}}
            {{project.owner.lastName}}</a>
        </li>
      </ul>
    </div>

    <a id="create-project-btn" class="button" ng-click="createProjectModal.open()"><i class="fa fa-plus"></i> Create
      project</a>

    <modal model="createProjectModal">
      <h3>Create a new project</h3>

      <form>
        <div class="row">
          <div class="large-8 columns">
            <label>Name
              <input type="text" ng-model="model.name">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <label>Description
              <textarea rows="4" ng-model="model.description"></textarea>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <label>TrialVerse namespace
              <select ng-model="model.trialverse" ng-options="tv.name for tv in trialverse"></select>
            </label>
            <ul class="button-group">
              <li><a class="button small secondary" ng-click="createProjectModal.close()">Cancel</a></li>
              <li>
                <a class="button small success" ng-disabled="false" ng-click="createProject(model)">Create
                  project</a>
              </li>
            </ul>
          </div>
        </div>
      </form>
    </modal>
  </div>
</div>
