<div ui-view>
  <div class="row">
    <div class="columns large-8">
      <div>
        <em ng-show="!(projects | ownProjectsFilter:user.id).length">No projects have been created</em>
        <div style="margin-bottom: 3rem; border-bottom: 1px solid #DCDCDC" ng-repeat="project in projects | ownProjectsFilter:user.id ">
          <div class="row">
            <div class="columns large-6">
              <h5>
                <a ui-sref="project({userUid: user.id, projectId: project.id})">
                  <span title="project name">{{project.name}}</span>
                </a>
              </h5>
            </div>
          </div>
          <div class="row">
            <div class="columns large-6">
              {{project.description}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns large-4">
      <h2>Other users</h2>
      <ul class="no-bullet">
        <li ng-cloak class="ng-cloak" ng-show="!otherUsers.length">
          <em>You are the only user of addis</em>
        </li>
        <li ng-repeat="otherUser in otherUsers" style="margin-bottom: 1rem;">
          <a ui-sref="datasets({userUid: otherUser.id})">
            <img class="user-image" ng-src="https://secure.gravatar.com/avatar/{{::otherUser.md5}}?s=43&d=mm"> {{::otherUser.firstName}} {{::otherUser.lastName}}
          </a>
          <span ng-show="loginUser.id === otherUser.id">
            (this is you)</span>
        </li>
      </ul>
    </div>
  </div>
</div>
