<navbar-directive>
</navbar-directive>
<ul ng-show="loading.loaded" class="breadcrumbs">
  <li><a ui-sref="projects({userUid: userId})">Projects</a></li>
  <li><a ui-sref="project({userUid: userId, projectId: project.id})">{{project.name}}</a></li>
  <li class="current active">{{analysis.title}}</li>
</ul>
<div ng-if="error" class="row" ng-cloak>
    <div class="columns">
        <app-alert type="alert" close="error.close()" error="error"></span></app-alert>
    </div>
</div>
<div>
  <div class="project-header row">
    <div class="columns large-12">
      <div ng-if="error" ng-cloak>
        <alert type="alert" close="error.close()">Computation failed: {{error.code}} <span ng-show="error.error">&mdash; {{error.error}}</span></alert>
      </div>
      <h1 class="inline-header" title="Analysis title">{{analysis.title}}</h1>
      <h3 class="subheader inline-header" title="Analysis type">/ {{analysis.analysisType}}</h3>
    </div>
  </div>
  <div ui-view>
    <div class="row">
      <div class="columns large-4">
        <p class="" style="color: rgba(41, 62, 163, 0.85);">
          Choose criteria and alternatives to use in your analysis, and the study from which to extract data.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="columns large-6">
        <div>
          Selected Criteria
        </div>
        <ui-select class="addis-select2" style="width:100%;" multiple theme="select2" ng-model="analysis.selectedOutcomes" data-placeholder="no criteria selected" ng-disabled="editMode.disableEditing">
          <ui-select-match>{{$item.name}}</ui-select-match>
          <ui-select-choices repeat="outcome in outcomes | filter: $select.search">
            <div ng-bind-html="outcome.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="row">
      <div class="columns large-6 ">
        <div>
          Selected Alternatives
        </div>
        <ui-select class="addis-select2" style="width:100%;" multiple theme="select2" ng-model="analysis.selectedInterventions" data-placeholder="no alternative selected" ng-disabled="editMode.disableEditing">
          <ui-select-match>{{$item.name}}</ui-select-match>
          <ui-select-choices repeat="intervention in interventions | filter: $select.search">
            <div ng-bind-html="intervention.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="row">
      <div class="columns large-6">
        <div>
          Selected Study
        </div>
        <ui-select class="addis-select2" style="width:100%;" theme="select2" ng-model="studyModel.selectedStudy" data-placeholder="no study selected" on-select="onStudySelect($item, $model)" ng-disabled="editMode.disableEditing">
          <ui-select-match>{{$select.selected.name}}
            <i ng-if="$select.selected.group === 1" class="fa fa-exclamation-triangle"></i>
          </ui-select-match>
          <ui-select-choices group-by="'groupLabel'" repeat="study in studies | orderBy:['group', 'name'] | filter: $select.search">
            <span ng-bind-html="study.name | highlight: $select.search"></span>
            <i ng-if="study.group === 1" class="fa fa-exclamation-triangle"></i>
          </ui-select-choices>
        </ui-select>
        <p class="fixed-height-info-container">
          <!-- dummy spacer-->
        </p>
      </div>
    </div>
    <div class="row">
      <div class="columns large-6 ">
        <div ng-switch on="isProblemDefined">
          <button ng-switch-when="false"
            ng-disabled="analysis.selectedOutcomes.length < 2 ||
                         analysis.selectedInterventions.length < 2 ||
                         !studyModel.selectedStudy ||
                         studyModel.selectedStudy.missingInterventions.length > 0 ||
                         studyModel.selectedStudy.missingOutcomes.length > 0 ||
                         studyModel.selectedStudy.hasMatchedMixedTreatmentArm"
            ng-click="createProblem()">Perform MCDA Analysis
          </button>
          <button ng-switch-when="true" ng-click="goToDefaultScenarioView()">Go to MCDA Analysis</button>
        </div>
        <p ng-if="analysis.selectedOutcomes.length < 2"><i class="fa fa-exclamation-triangle"></i>
          <em>At least two criteria should be selected so that a tradeoff can be made.</em>
        </p>
        <div ng-if="studyModel.selectedStudy.missingOutcomes.length > 0">
          <p>
            <em><i class="fa fa-exclamation-triangle"></i>
          Selected study lacks these outcomes:
          <span ng-repeat="missingOutcome in studyModel.selectedStudy.missingOutcomes">{{missingOutcome.name}}
            <span ng-if="!$last">,</span>
          </span>
        </em>
          </p>
        </div>
        <p ng-if="analysis.selectedInterventions.length < 2"><i class="fa fa-exclamation-triangle"></i>
          <em>At least two interventions should be selected so that a tradeoff can be made.</em>
        </p>
        <div ng-if="studyModel.selectedStudy.missingInterventions.length > 0">
          <p>
            <em>
          <i class="fa fa-exclamation-triangle"></i> Selected study lacks these intervention(s):
          <span ng-repeat="missingIntervention in studyModel.selectedStudy.missingInterventions">{{missingIntervention.name}}
            <span ng-if="!$last">,</span>
          </span>
        </em>
          </p>
        </div>
        <div ng-if="studyModel.selectedStudy.hasMatchedMixedTreatmentArm">
          <p>
            <em>
          <i class="fa fa-exclamation-triangle"></i> Selected study has a combination treatment arm for at least one of the selected alternatives. We do not currently support analysis of such studies.
        </em>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
