<form novalidate ng-submit="yes()">
  <div class="row">
    <div class="large-12 columns">
      <h3 class="warning">This study has uncommited changes</h3>
      <p>Navigating to another page will undo the uncommited changes you made to the study</p>
      <p>Do you to continue ?</h5>
    </div>
  </div>
  <div class="row">
    <div class="large-9 columns" >
      <button class="success" type="submit">Yes</button>
      <button type="button" ng-click="cancel()">No</button>
    </div>
  </div>
  <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</form>
