<form novalidate ng-submit="editItem()">
  <div class="grid-container">
  <div class="grid-x">
    <div class="cell">
      <h3>Edit arm</h3>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      <label>Name
        <input autofocus type="text" ng-model="item.label">
      </label>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      <label>Description
        <textarea grid-xs="8" ng-model="item.comment"></textarea>
      </label>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      <button class="button success" type="submit" ng-disabled="!item.label || isEditing">Edit</button>
    </div>
  </div>
</div> 
 <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</form>
