<div ui-view>
  <navbar-directive></navbar-directive>
  <ul class="breadcrumbs">
    <li><a ui-sref="datasets({userUid: user.id})">{{user.firstName}} {{user.lastName}}</a></li>
    <li><a ui-sref="projects({userUid: userId})">Projects</a></li>
    <li><a ui-sref="project({userUid: userId, projectId: project.id})">{{project.name}}</a></li>
    <li class="current active">{{analysis.title}} Step 1</li>
  </ul>
  <div>
    <div class="project-header row">
      <div class="columns large-12">
        <h1 class="inline-header" title="Analysis title">{{analysis.title}}</h1>
        <h3 class="subheader inline-header" title="Analysis type">/ {{analysis.analysisType}}</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns large-12">
      <h3 class="subheader">Alternatives</h3>
      <div class="checkbox-group">
        <div class="alternative-item" ng-repeat="alternative in alternatives">
          <label>
            <input type="checkbox" ng-model="alternative.isIncluded" name="{{alternative.name}}"
            ng-change="updateAlternatives()"> {{alternative.name}}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns large-12">
      <h3 class="subheader">Outcomes</h3>
      <div class="checkbox-group">
        <div class="outcome-item" ng-repeat="outcomeWithAnalyses in outcomesWithAnalyses">
          <label>
            <input type="checkbox" ng-model="outcomeWithAnalyses.outcome.isIncluded" ng-disabled="isOutcomeDisabled(outcomeWithAnalyses)"
            name="{{outcomeWithAnalyses.outcome.name}}" ng-change="updateMbrOutcomeInclusions(outcomeWithAnalyses)"> {{outcomeWithAnalyses.outcome.name}}
          </label>
          <div class="indent-one" ng-repeat="networkMetaAnalysis in outcomeWithAnalyses.networkMetaAnalyses">
            <div class="analysis">
              <label>
                <input ng-model="outcomeWithAnalyses.selectedAnalysis" ng-change="updateAnalysesInclusions(outcomeWithAnalyses)"
                type="radio" ng-value="networkMetaAnalysis" ng-disabled="!outcomeWithAnalyses.outcome.isIncluded || !networkMetaAnalysis.models.length"> {{networkMetaAnalysis.title}}
              </label>
              <div class="row" ng-show="outcomeWithAnalyses.selectedAnalysis.id === networkMetaAnalysis.id && networkMetaAnalysis.models.length">
                <div class="indent-one columns large-4">
                  <select ng-model="outcomeWithAnalyses.selectedModel" class="model-select"
                  ng-change="updateModelSelection(outcomeWithAnalyses, networkMetaAnalysis.interventionInclusions)"
                  ng-options="model.title  group by model.group for model in networkMetaAnalysis.models | orderBy:['-group','+title']">
                  </select>
                  <div class="alert" ng-show="outcomeWithAnalyses.selectedModel.missingAlternatives.length">
                    Selected model is missing alternatives: {{outcomeWithAnalyses.selectedModel.missingAlternativesNames.join(', ')}}.
                  </div>
                  <div class="alert" ng-show="!outcomeWithAnalyses.selectedModel.hasResult">
                    This model has not yet been run.
                  </div>
                </div>
                <!-- <div class="columns large-2 end" style="padding-top:0.5rem;">
                  <a class="details"  ng-click="showModelDetails(outcomeWithAnalyses.selectedModel)">show details</a>
                </div> -->
              </div>
            </div>
          </div>
          <div ng-show="!outcomeWithAnalyses.networkMetaAnalyses.length" class="outcome-analyses">
            <label>
              <em>No meta-analyses available</em>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns large-12">
      <button ng-disabled="step1AlertMessages.length" type="button" class="primary" ng-click="goToStep2()">Next Step</button>
      <div ng-repeat="message in step1AlertMessages">
        <div class="alert">{{message}}</div>
      <div>
    </div>
  </div>
</div>
