<div ui-view>
  <navbar-directive></navbar-directive>
  <ul class="breadcrumbs fixed">
    <li>
      <a ui-sref="datasets({userUid: user.id})">{{user.firstName}}
        {{user.lastName}}</a>
    </li>
    <li>
      <a ui-sref="projects({userUid: userId})">Projects</a>
    </li>
    <li>
      <a ui-sref="project({userUid: userId, projectId: project.id})">{{project.name}}</a>
    </li>
    <li class="current active">{{analysis.title}}</li>
  </ul>
  <div>
    <div class="project-header row">
      <div class="columns large-12">
        <h1 class="inline-header" title="Analysis title">{{analysis.title}}</h1>
        <h3 class="subheader inline-header" title="Analysis type">/ {{analysis.analysisType}}
        </h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns large-12">
      <h3 class="subheader">Alternatives</h3>
      <div class="checkbox-group">
        <div class="alternative-item" ng-repeat="alternative in alternatives">
        <ul>
            <li ng-if="alternative.isIncluded"> {{alternative.name}}</li>
        </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns large-12">
      <table>
        <caption>Selected models by outcome and analysis</caption>
        <thead>
          <tr>
            <th>Outcome</th>
            <th>Analysis</th>
            <th>Model</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="outcomeWithAnalyses in outcomesWithAnalyses">
            <td>{{outcomeWithAnalyses.outcome.name}}</td>
            <td>{{outcomeWithAnalyses.selectedAnalysis.title}}</td>
            <td>
              {{outcomeWithAnalyses.selectedModel.title}}
              <button class="small success" ng-if="outcomeWithAnalyses.selectedModel.runStatus !== 'done'" ng-click="goToModel(outcomeWithAnalyses.selectedModel)">Run model</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="row">
    <div class="columns large-12">
      <table class="">
        <caption>Baseline distributions</caption>
        <thead>
          <tr>
            <th>Outcome</th>
            <th>Distribution</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="owa in outcomesWithAnalyses | filter:{outcome: {isIncluded: true}}">
            <td class="table-head">{{owa.outcome.name}}</td>
            <td ng-show="owa.baselineDistribution">{{owa.baselineDistribution.scale}} ({{owa.baselineDistribution.name}})
              ~ N({{owa.baselineDistribution.mu}}, {{owa.baselineDistribution.sigma}})</td>
            <td ng-show="!owa.baselineDistribution">
              <em>Not defined.</em>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="columns large-12">
      <button ng-click="goToDefaultScenario()" type="button" class="">Go to MCDA</button>
    </div>
  </div>
