<div ui-view>
  <navbar-directive></navbar-directive>
  <ul class="breadcrumbs">
    <li>
      <a ui-sref="datasets({userUid: user.id})">{{user.firstName}}
        {{user.lastName}}</a>
    </li>
    <li>
      <a ui-sref="projects({userUid: userId})">Projects</a>
    </li>
    <li>
      <a ui-sref="project({userUid: userId, projectId: project.id})">{{project.name}}</a>
    </li>
    <li class="current active">{{analysis.title}}
      Step 2
    </li>
  </ul>
  <div ng-if="error" class="row" ng-cloak>
    <div class="columns">
      <app-alert type="alert" close="error.close()" error="error"></span>
    </app-alert>
  </div>
</div>
<div>
  <div class="project-header row">
    <div class="columns large-12">
      <h1 class="inline-header" title="Analysis title">{{analysis.title}}</h1>
      <h3 class="subheader inline-header" title="Analysis type">/
        {{analysis.analysisType}}</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="columns large-12">
    <table class="">
      <caption>Baseline distributions</caption>
      <tbody>
        <tr ng-repeat="owa in outcomesWithAnalyses | filter:{outcome: {isIncluded: true}}">
          <td class="table-head">{{owa.outcome.name}}</td>
          <td ng-show="owa.baselineDistribution">{{owa.baselineDistribution.scale}}
             ({{owa.baselineDistribution.name}})
            ~ N({{owa.baselineDistribution.mu}}, {{owa.baselineDistribution.sigma}})</td>
          <td ng-show="!owa.baselineDistribution"><em>Not defined.</em></td>
          <td class="button-cell">
            <button class="small" ng-click="openDistributionModal(owa)">Set</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="columns large-12">
    <table class="">
      <caption>Effects table</caption>
      <thead>
        <tr>
          <td></td>
          <td ng-repeat="alternative in analysis.includedAlternatives">{{alternative.name}}</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="owa in outcomesWithAnalyses">
          <td class="table-head">{{owa.outcome.name}}</td>
          <td ng-repeat="alternative in analysis.includedAlternatives">
            <span ng-if="effectsTable[owa.outcome.id][alternative.id]">
             {{effectsTable[owa.outcome.id][alternative.id]['50%']}}
            ({{effectsTable[owa.outcome.id][alternative.id]['2.5%']}},
             {{effectsTable[owa.outcome.id][alternative.id]['97.5%']}})</span>
            <span ng-if="!effectsTable[owa.outcome.id][alternative.id]">NA</span>
          </td>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="columns large-12">
    <button type="button" class="primary" ng-click="goToStep1()">Previous step </button>
    <button ng-disabled="step2AlertMessages.length" type="button" class="success">Finalize</button>
    <div ng-repeat="message in step1AlertMessages">
      <div class="alert">{{message}}</div>
      <div></div>
    </div>
  </div>
