<form novalidate ng-submit="editItem()">
  <div class="row">
    <div class="large-9 columns">
      <h3>Edit adverse event</h3>
    </div>
  </div>

  <div class="row">
    <div class="large-9 columns">
      <label>Name
        <input autofocus type="text" ng-model="item.label">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <label>Measurement type</label>
      <input ng-model="item.measurementType" type="radio" name="measurementType"
             value="ontology:dichotomous" id="rateOption"><label for="rateOption">rate</label>
      <input ng-model="item.measurementType" type="radio" name="measurementType"
             value="ontology:continuous" id="continuousOption"><label
        for="continuousOption">continuous</label>
    </div>
  </div>

  <div class="row">
    <div class="large-9 columns">
      <subset-select target="item.measuredAtMoments" source="measurementMoments"></subset-select>
    </div>
  </div>

  <div class="row">
    <div class="large-9 columns">
      <button class="success" type="submit" ng-disabled="!item.label || !item.measurementType">Edit
      </button>
    </div>
  </div>
  <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</form>
