<form name="myForm" novalidate ng-submit="editItem(item)">
  <div class="row">
    <div class="large-9 medium-12 columns">
      <h3>Edit study information</h3>
    </div>
  </div>

   <div class="row">
    <div class="large-9 columns">
      <label>Group Allocation
         <enum-options
         options-constant-name="'GROUP_ALLOCATION_OPTIONS'"
         edit-mode="true"
         selected-option="item.allocation" ></enum-options>
      </label>
      <label>Blinding
         <enum-options
         options-constant-name="'BLINDING_OPTIONS'"
         edit-mode="true"
         selected-option="item.blinding" ></enum-options>
      </label>
      <label>Status
         <enum-options
         options-constant-name="'STATUS_OPTIONS'"
         edit-mode="true"
         selected-option="item.status" ></enum-options>
      </label>
      <label>Number of centers
         <input name="numberOfCenters" min="0" ng-pattern="/\d+$/" type="number" ng-model="item.numberOfCenters" />
      </label>
      <label>Objective
        <textarea rows="6" ng-model="item.objective.comment"></textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-9 columns">
      <button ng-disabled="!myForm.numberOfCenters.$valid" class="success" type="submit">Edit</button>
      <span ng-show="!myForm.numberOfCenters.$valid" style="color: red">Number of centers must be a whole number greater than 0.</span>
    </div>
  </div>
  <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</form>
