<form novalidate ng-submit="addItem()">
  <div class="row">
    <div class="large-9 medium-12 columns">
      <h3>Add measurement moment</h3>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <select ng-model="epoch" placeholder="select epoch" ng-options="epoch.label.value for epoch in epochs">
      </select>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <input ng-model="itemCache.relativeToAnchor" type="radio" value="<http://trials.drugis.org/ontology#anchorEpochStart>" id="fromStartOption">
             <label for="fromStartOption">from start</label>
      <input ng-model="itemCache.relativeToAnchor" type="radio" value="<http://trials.drugis.org/ontology#anchorEpochEnd>" id="fromEndOption">
             <label for="fromEndOption">from end</label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <input ng-model="hasOffset" type="radio" value="false" id="hasNoOffsetOption">
             <label for="hasNoOffsetOption">no offset</label>
      <input ng-model="hasOffset" type="radio" value="true" id="hasOffsetOption">
             <label for="hasOffsetOption">offset</label>
    </div>
  </div>

  <div ng-show="hasOffset === 'true'" class="row form-input-group">
    <duration-input duration-string="itemCache.duration"/>
  </div>

  <div class="row">
    <div class="large-9 medium-12 columns">
      <label>Name
        <input autofocus="true" type="text" ng-model="itemCache.label">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-9 columns">
      <button class="success" type="submit"
              ng-disabled="(!itemCache.label || !isValidDuration(itemCache.duration, periodTypeOptions))">Edit
      </button>
    </div>
  </div>
  <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</form>
