/* line 8, ../../sass/addis-settings.scss */
table.network-meta-analysis-table {
  border: none;
  border-spacing: 0px;
}
/* line 12, ../../sass/addis-settings.scss */
table.network-meta-analysis-table tbody tr td {
  border-bottom: solid 1px;
  vertical-align: top;
}
/* line 17, ../../sass/addis-settings.scss */
table.network-meta-analysis-table thead tr th {
  border-bottom: solid 2px;
}
/* line 21, ../../sass/addis-settings.scss */
table.network-meta-analysis-table tr.topborder td {
  border-top: solid 1px;
}
