@charset "UTF-8";
@import url("//fonts.googleapis.com/css?family=Droid+Sans:400,700");
@import url(../js/bower_components/mcda-web/app/css/mcda-drugis.css);
/* line 77, ../../drugis-css/foundation/components/_top-bar.scss */
meta.foundation-mq-topbar {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

/* line 67, ../../drugis-css/foundation/components/_offcanvas.scss */
.off-canvas-wrap, .inner-wrap, nav.tab-bar, .left-off-canvas-menu, .left-off-canvas-menu *, .right-off-canvas-menu, .move-right a.exit-off-canvas, .move-left a.exit-off-canvas {
  -webkit-backface-visibility: hidden;
}

/* line 73, ../../drugis-css/foundation/components/_offcanvas.scss */
.off-canvas-wrap, .inner-wrap {
  position: relative;
  width: 100%;
}

/* line 79, ../../drugis-css/foundation/components/_offcanvas.scss */
.left-off-canvas-menu, .right-off-canvas-menu {
  width: 250px;
  top: 0;
  bottom: 0;
  height: 100%;
  position: absolute;
  overflow-y: auto;
  background: #333;
  z-index: 1001;
  box-sizing: content-box;
}

/* line 150, ../../drugis-css/foundation/components/_offcanvas.scss */
section.left-small, section.right-small {
  width: 2.8125rem;
  height: 2.8125rem;
  position: absolute;
  top: 0;
}

/* line 270, ../../drugis-css/foundation/components/_offcanvas.scss */
.off-canvas-wrap {
  overflow: hidden;
}

/* line 271, ../../drugis-css/foundation/components/_offcanvas.scss */
.inner-wrap {
  *zoom: 1;
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition: -moz-transform 500ms ease;
  -ms-transition: -ms-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: transform 500ms ease;
}
/* line 165, ../../drugis-css/foundation/components/_global.scss */
.inner-wrap:before, .inner-wrap:after {
  content: " ";
  display: table;
}
/* line 166, ../../drugis-css/foundation/components/_global.scss */
.inner-wrap:after {
  clear: both;
}

/* line 273, ../../drugis-css/foundation/components/_offcanvas.scss */
nav.tab-bar {
  background: #333;
  color: #FFF;
  height: 2.8125rem;
  line-height: 2.8125rem;
  position: relative;
}
/* line 139, ../../drugis-css/foundation/components/_offcanvas.scss */
nav.tab-bar h1, nav.tab-bar h2, nav.tab-bar h3, nav.tab-bar h4, nav.tab-bar h5, nav.tab-bar h6 {
  color: #FFF;
  font-weight: bold;
  line-height: 2.8125rem;
  margin: 0;
}
/* line 145, ../../drugis-css/foundation/components/_offcanvas.scss */
nav.tab-bar h1, nav.tab-bar h2, nav.tab-bar h3, nav.tab-bar h4 {
  font-size: 1.125rem;
}

/* line 275, ../../drugis-css/foundation/components/_offcanvas.scss */
section.left-small {
  border-right: solid 1px #1a1a1a;
  box-shadow: 1px 0 0 #4d4d4d;
  left: 0;
}

/* line 276, ../../drugis-css/foundation/components/_offcanvas.scss */
section.right-small {
  border-left: solid 1px #4d4d4d;
  box-shadow: -1px 0 0 #1a1a1a;
  right: 0;
}

/* line 278, ../../drugis-css/foundation/components/_offcanvas.scss */
section.tab-bar-section {
  padding: 0 0.625rem;
  position: absolute;
  text-align: center;
  height: 2.8125rem;
  top: 0;
}
@media only screen and (min-width: 40.063em) {
  /* line 278, ../../drugis-css/foundation/components/_offcanvas.scss */
  section.tab-bar-section {
    text-align: left;
  }
}
/* line 182, ../../drugis-css/foundation/components/_offcanvas.scss */
section.tab-bar-section.left {
  left: 0;
  right: 2.8125rem;
}
/* line 186, ../../drugis-css/foundation/components/_offcanvas.scss */
section.tab-bar-section.right {
  left: 2.8125rem;
  right: 0;
}
/* line 190, ../../drugis-css/foundation/components/_offcanvas.scss */
section.tab-bar-section.middle {
  left: 2.8125rem;
  right: 2.8125rem;
}

/* line 282, ../../drugis-css/foundation/components/_offcanvas.scss */
a.menu-icon {
  text-indent: 2.1875rem;
  width: 2.8125rem;
  height: 2.8125rem;
  display: block;
  line-height: 2.0625rem;
  padding: 0;
  color: #fff;
  position: relative;
}
/* line 293, ../../drugis-css/foundation/components/_offcanvas.scss */
a.menu-icon span {
  position: absolute;
  display: block;
  width: 1rem;
  height: 0;
  left: 0.8125rem;
  top: 0.3125rem;
  -webkit-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
  box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
}
/* line 313, ../../drugis-css/foundation/components/_offcanvas.scss */
a.menu-icon:hover span {
  -webkit-box-shadow: 0 10px 0 1px #b3b3b3, 0 16px 0 1px #b3b3b3, 0 22px 0 1px #b3b3b3;
  box-shadow: 0 10px 0 1px #b3b3b3, 0 16px 0 1px #b3b3b3, 0 22px 0 1px #b3b3b3;
}

/* line 325, ../../drugis-css/foundation/components/_offcanvas.scss */
.left-off-canvas-menu {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 326, ../../drugis-css/foundation/components/_offcanvas.scss */
.right-off-canvas-menu {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  right: 0;
}

/* line 328, ../../drugis-css/foundation/components/_offcanvas.scss */
ul.off-canvas-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 204, ../../drugis-css/foundation/components/_offcanvas.scss */
ul.off-canvas-list li label {
  padding: 0.3rem 0.9375rem;
  color: #999;
  text-transform: uppercase;
  font-weight: bold;
  background: #444;
  border-top: 1px solid #5e5e5e;
  border-bottom: none;
  margin: 0;
}
/* line 214, ../../drugis-css/foundation/components/_offcanvas.scss */
ul.off-canvas-list li a {
  display: block;
  padding: 0.66667rem;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid #262626;
}

/* line 334, ../../drugis-css/foundation/components/_offcanvas.scss */
.move-right > .inner-wrap {
  -webkit-transform: translate3d(250px, 0, 0);
  -moz-transform: translate3d(250px, 0, 0);
  -ms-transform: translate3d(250px, 0, 0);
  -o-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
}
/* line 337, ../../drugis-css/foundation/components/_offcanvas.scss */
.move-right a.exit-off-canvas {
  transition: background 300ms ease;
  cursor: pointer;
  box-shadow: -4px 0 4px rgba(0, 0, 0, 0.5), 4px 0 4px rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
}
@media only screen and (min-width: 40.063em) {
  /* line 244, ../../drugis-css/foundation/components/_offcanvas.scss */
  .move-right a.exit-off-canvas:hover {
    background: rgba(255, 255, 255, 0.05);
  }
}

/* line 341, ../../drugis-css/foundation/components/_offcanvas.scss */
.move-left > .inner-wrap {
  -webkit-transform: translate3d(-250px, 0, 0);
  -moz-transform: translate3d(-250px, 0, 0);
  -ms-transform: translate3d(-250px, 0, 0);
  -o-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
}
/* line 345, ../../drugis-css/foundation/components/_offcanvas.scss */
.move-left a.exit-off-canvas {
  transition: background 300ms ease;
  cursor: pointer;
  box-shadow: -4px 0 4px rgba(0, 0, 0, 0.5), 4px 0 4px rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
}
@media only screen and (min-width: 40.063em) {
  /* line 244, ../../drugis-css/foundation/components/_offcanvas.scss */
  .move-left a.exit-off-canvas:hover {
    background: rgba(255, 255, 255, 0.05);
  }
}

/* line 353, ../../drugis-css/foundation/components/_offcanvas.scss */
.lt-ie10 .left-off-canvas-menu {
  left: -250px;
}
/* line 354, ../../drugis-css/foundation/components/_offcanvas.scss */
.lt-ie10 .right-off-canvas-menu {
  right: -250px;
}
/* line 357, ../../drugis-css/foundation/components/_offcanvas.scss */
.lt-ie10 .move-left > .inner-wrap {
  right: 250px;
}
/* line 358, ../../drugis-css/foundation/components/_offcanvas.scss */
.lt-ie10 .move-right > .inner-wrap {
  left: 250px;
}

/* Foundation Visibility HTML Classes */
/* line 13, ../../drugis-css/foundation/components/_visibility.scss */
.show-for-small,
.show-for-small-only,
.show-for-medium-down,
.show-for-large-down,
.hide-for-medium,
.hide-for-medium-up,
.hide-for-medium-only,
.hide-for-large,
.hide-for-large-up,
.hide-for-large-only,
.hide-for-xlarge,
.hide-for-xlarge-up,
.hide-for-xlarge-only,
.hide-for-xxlarge-up,
.hide-for-xxlarge-only {
  display: inherit !important;
}

/* line 29, ../../drugis-css/foundation/components/_visibility.scss */
.hide-for-small,
.hide-for-small-only,
.hide-for-medium-down,
.show-for-medium,
.show-for-medium-up,
.show-for-medium-only,
.hide-for-large-down,
.show-for-large,
.show-for-large-up,
.show-for-large-only,
.show-for-xlarge,
.show-for-xlarge-up,
.show-for-xlarge-only,
.show-for-xxlarge-up,
.show-for-xxlarge-only {
  display: none !important;
}

/* Specific visibility for tables */
/* line 47, ../../drugis-css/foundation/components/_visibility.scss */
table.show-for-small, table.show-for-small-only, table.show-for-medium-down, table.show-for-large-down, table.hide-for-medium, table.hide-for-medium-up, table.hide-for-medium-only, table.hide-for-large, table.hide-for-large-up, table.hide-for-large-only, table.hide-for-xlarge, table.hide-for-xlarge-up, table.hide-for-xlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge-only {
  display: table;
}

/* line 64, ../../drugis-css/foundation/components/_visibility.scss */
thead.show-for-small, thead.show-for-small-only, thead.show-for-medium-down, thead.show-for-large-down, thead.hide-for-medium, thead.hide-for-medium-up, thead.hide-for-medium-only, thead.hide-for-large, thead.hide-for-large-up, thead.hide-for-large-only, thead.hide-for-xlarge, thead.hide-for-xlarge-up, thead.hide-for-xlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge-only {
  display: table-header-group !important;
}

/* line 81, ../../drugis-css/foundation/components/_visibility.scss */
tbody.show-for-small, tbody.show-for-small-only, tbody.show-for-medium-down, tbody.show-for-large-down, tbody.hide-for-medium, tbody.hide-for-medium-up, tbody.hide-for-medium-only, tbody.hide-for-large, tbody.hide-for-large-up, tbody.hide-for-large-only, tbody.hide-for-xlarge, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge-only {
  display: table-row-group !important;
}

/* line 98, ../../drugis-css/foundation/components/_visibility.scss */
tr.show-for-small, tr.show-for-small-only, tr.show-for-medium-down, tr.show-for-large-down, tr.hide-for-medium, tr.hide-for-medium-up, tr.hide-for-medium-only, tr.hide-for-large, tr.hide-for-large-up, tr.hide-for-large-only, tr.hide-for-xlarge, tr.hide-for-xlarge-up, tr.hide-for-xlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge-only {
  display: table-row !important;
}

/* line 116, ../../drugis-css/foundation/components/_visibility.scss */
td.show-for-small, td.show-for-small-only, td.show-for-medium-down
td.show-for-large-down, td.hide-for-medium, td.hide-for-medium-up, td.hide-for-large, td.hide-for-large-up, td.hide-for-xlarge
td.hide-for-xlarge-up, td.hide-for-xxlarge-up,
th.show-for-small,
th.show-for-small-only,
th.show-for-medium-down
td.show-for-large-down,
th.hide-for-medium,
th.hide-for-medium-up,
th.hide-for-large,
th.hide-for-large-up,
th.hide-for-xlarge
td.hide-for-xlarge-up,
th.hide-for-xxlarge-up, td.show-for-medium-down
th.show-for-large-down, td.hide-for-xlarge
th.hide-for-xlarge-up,
th.show-for-medium-down
th.show-for-large-down,
th.hide-for-xlarge
th.hide-for-xlarge-up {
  display: table-cell !important;
}

/* Medium Displays: 641px and up */
@media only screen and (min-width: 40.063em) {
  /* line 131, ../../drugis-css/foundation/components/_visibility.scss */
  .hide-for-small,
  .hide-for-small-only,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-medium-up,
  .show-for-medium-only,
  .hide-for-large,
  .hide-for-large-up,
  .hide-for-large-only,
  .hide-for-xlarge,
  .hide-for-xlarge-up,
  .hide-for-xlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge-only {
    display: inherit !important;
  }

  /* line 146, ../../drugis-css/foundation/components/_visibility.scss */
  .show-for-small,
  .show-for-small-only,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-medium-up,
  .hide-for-medium-only,
  .hide-for-large-down,
  .show-for-large,
  .show-for-large-up,
  .show-for-large-only,
  .show-for-xlarge,
  .show-for-xlarge-up,
  .show-for-xlarge-only,
  .show-for-xxlarge-up,
  .show-for-xxlarge-only {
    display: none !important;
  }

  /* Specific visibility for tables */
  /* line 164, ../../drugis-css/foundation/components/_visibility.scss */
  table.hide-for-small, table.hide-for-small-only, table.show-for-medium, table.show-for-medium-down, table.show-for-medium-up, table.show-for-medium-only, table.hide-for-large, table.hide-for-large-up, table.hide-for-large-only, table.hide-for-xlarge, table.hide-for-xlarge-up, table.hide-for-xlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge-only {
    display: table;
  }

  /* line 180, ../../drugis-css/foundation/components/_visibility.scss */
  thead.hide-for-small, thead.hide-for-small-only, thead.show-for-medium, thead.show-for-medium-down, thead.show-for-medium-up, thead.show-for-medium-only, thead.hide-for-large, thead.hide-for-large-up, thead.hide-for-large-only, thead.hide-for-xlarge, thead.hide-for-xlarge-up, thead.hide-for-xlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge-only {
    display: table-header-group !important;
  }

  /* line 196, ../../drugis-css/foundation/components/_visibility.scss */
  tbody.hide-for-small, tbody.hide-for-small-only, tbody.show-for-medium, tbody.show-for-medium-down, tbody.show-for-medium-up, tbody.show-for-medium-only, tbody.hide-for-large, tbody.hide-for-large-up, tbody.hide-for-large-only, tbody.hide-for-xlarge, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge-only {
    display: table-row-group !important;
  }

  /* line 212, ../../drugis-css/foundation/components/_visibility.scss */
  tr.hide-for-small, tr.hide-for-small-only, tr.show-for-medium, tr.show-for-medium-down, tr.show-for-medium-up, tr.show-for-medium-only, tr.hide-for-large, tr.hide-for-large-up, tr.hide-for-large-only, tr.hide-for-xlarge, tr.hide-for-xlarge-up, tr.hide-for-xlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge-only {
    display: table-row !important;
  }

  /* line 229, ../../drugis-css/foundation/components/_visibility.scss */
  td.hide-for-small, td.hide-for-small-only, td.show-for-medium, td.show-for-medium-down, td.show-for-medium-up, td.show-for-medium-only, td.hide-for-large, td.hide-for-large-up, td.hide-for-large-only, td.hide-for-xlarge, td.hide-for-xlarge-up, td.hide-for-xlarge-only, td.hide-for-xxlarge-up, td.hide-for-xxlarge-only,
  th.hide-for-small,
  th.hide-for-small-only,
  th.show-for-medium,
  th.show-for-medium-down,
  th.show-for-medium-up,
  th.show-for-medium-only,
  th.hide-for-large,
  th.hide-for-large-up,
  th.hide-for-large-only,
  th.hide-for-xlarge,
  th.hide-for-xlarge-up,
  th.hide-for-xlarge-only,
  th.hide-for-xxlarge-up,
  th.hide-for-xxlarge-only {
    display: table-cell !important;
  }
}
/* Large Displays: 1024px and up */
@media only screen and (min-width: 64.063em) {
  /* line 248, ../../drugis-css/foundation/components/_visibility.scss */
  .hide-for-small,
  .hide-for-small-only,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-medium-only,
  .show-for-medium-up,
  .show-for-large,
  .show-for-large-up,
  .show-for-large-only,
  .hide-for-xlarge,
  .hide-for-xlarge-up,
  .hide-for-xlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge-only {
    display: inherit !important;
  }

  /* line 263, ../../drugis-css/foundation/components/_visibility.scss */
  .show-for-small-only,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-medium-only,
  .hide-for-large,
  .hide-for-large-up,
  .hide-for-large-only,
  .show-for-xlarge,
  .show-for-xlarge-up,
  .show-for-xlarge-only,
  .show-for-xxlarge-up,
  .show-for-xxlarge-only {
    display: none !important;
  }

  /* Specific visilbity for tables */
  /* line 278, ../../drugis-css/foundation/components/_visibility.scss */
  table.hide-for-small, table.hide-for-small-only, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-medium-only, table.show-for-medium-up, table.show-for-large, table.show-for-large-up, table.show-for-large-only, table.hide-for-xlarge, table.hide-for-xlarge-up, table.hide-for-xlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge-only {
    display: table;
  }

  /* line 294, ../../drugis-css/foundation/components/_visibility.scss */
  thead.hide-for-small, thead.hide-for-small-only, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.show-for-large, thead.show-for-large-up, thead.show-for-large-only, thead.hide-for-xlarge, thead.hide-for-xlarge-up, thead.hide-for-xlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge-only {
    display: table-header-group !important;
  }

  /* line 310, ../../drugis-css/foundation/components/_visibility.scss */
  tbody.hide-for-small, tbody.hide-for-small-only, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.show-for-large, tbody.show-for-large-up, tbody.show-for-large-only, tbody.hide-for-xlarge, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge-only {
    display: table-row-group !important;
  }

  /* line 326, ../../drugis-css/foundation/components/_visibility.scss */
  tr.hide-for-small, tr.hide-for-small-only, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.show-for-large, tr.show-for-large-up, tr.show-for-large-only, tr.hide-for-xlarge, tr.hide-for-xlarge-up, tr.hide-for-xlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge-only {
    display: table-row !important;
  }

  /* line 343, ../../drugis-css/foundation/components/_visibility.scss */
  td.hide-for-small, td.hide-for-small-only, td.hide-for-medium, td.hide-for-medium-down, td.hide-for-medium-only, td.show-for-medium-up, td.show-for-large, td.show-for-large-up, td.show-for-large-only, td.hide-for-xlarge, td.hide-for-xlarge-up, td.hide-for-xlarge-only, td.hide-for-xxlarge-up, td.hide-for-xxlarge-only,
  th.hide-for-small,
  th.hide-for-small-only,
  th.hide-for-medium,
  th.hide-for-medium-down,
  th.hide-for-medium-only,
  th.show-for-medium-up,
  th.show-for-large,
  th.show-for-large-up,
  th.show-for-large-only,
  th.hide-for-xlarge,
  th.hide-for-xlarge-up,
  th.hide-for-xlarge-only,
  th.hide-for-xxlarge-up,
  th.hide-for-xxlarge-only {
    display: table-cell !important;
  }
}
/* X-Large Displays: 1441 and up */
@media only screen and (min-width: 90.063em) {
  /* line 362, ../../drugis-css/foundation/components/_visibility.scss */
  .hide-for-small,
  .hide-for-small-only,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-medium-only,
  .show-for-medium-up,
  .show-for-large-up,
  .show-for-xlarge,
  .show-for-xlarge-up,
  .show-for-xlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge-only {
    display: inherit !important;
  }

  /* line 375, ../../drugis-css/foundation/components/_visibility.scss */
  .show-for-small-only,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-medium-only,
  .show-for-large,
  .show-for-large-only,
  .show-for-large-down,
  .hide-for-xlarge,
  .hide-for-xlarge-up,
  .hide-for-xlarge-only,
  .show-for-xxlarge-up,
  .show-for-xxlarge-only {
    display: none !important;
  }

  /* Specific visilbity for tables */
  /* line 390, ../../drugis-css/foundation/components/_visibility.scss */
  table.hide-for-small, table.hide-for-small-only, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-medium-only, table.show-for-medium-up, table.show-for-large-up, table.show-for-xlarge, table.show-for-xlarge-up, table.show-for-xlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge-only {
    display: table;
  }

  /* line 404, ../../drugis-css/foundation/components/_visibility.scss */
  thead.hide-for-small, thead.hide-for-small-only, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.show-for-large-up, thead.show-for-xlarge, thead.show-for-xlarge-up, thead.show-for-xlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge-only {
    display: table-header-group !important;
  }

  /* line 418, ../../drugis-css/foundation/components/_visibility.scss */
  tbody.hide-for-small, tbody.hide-for-small-only, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.show-for-large-up, tbody.show-for-xlarge, tbody.show-for-xlarge-up, tbody.show-for-xlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge-only {
    display: table-row-group !important;
  }

  /* line 432, ../../drugis-css/foundation/components/_visibility.scss */
  tr.hide-for-small, tr.hide-for-small-only, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.show-for-large-up, tr.show-for-xlarge, tr.show-for-xlarge-up, tr.show-for-xlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge-only {
    display: table-row !important;
  }

  /* line 447, ../../drugis-css/foundation/components/_visibility.scss */
  td.hide-for-small, td.hide-for-small-only, td.hide-for-medium, td.hide-for-medium-down, td.hide-for-medium-only, td.show-for-medium-up, td.show-for-large-up, td.show-for-xlarge, td.show-for-xlarge-up, td.show-for-xlarge-only, td.hide-for-xxlarge-up, td.hide-for-xxlarge-only,
  th.hide-for-small,
  th.hide-for-small-only,
  th.hide-for-medium,
  th.hide-for-medium-down,
  th.hide-for-medium-only,
  th.show-for-medium-up,
  th.show-for-large-up,
  th.show-for-xlarge,
  th.show-for-xlarge-up,
  th.show-for-xlarge-only,
  th.hide-for-xxlarge-up,
  th.hide-for-xxlarge-only {
    display: table-cell !important;
  }
}
/* XX-Large Displays: 1920 and up */
@media only screen and (min-width: 120.063em) {
  /* line 464, ../../drugis-css/foundation/components/_visibility.scss */
  .hide-for-small,
  .hide-for-small-only,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-medium-only,
  .show-for-medium-up,
  .show-for-large-up,
  .show-for-xlarge-up,
  .show-for-xxlarge-up,
  .show-for-xxlarge-only {
    display: inherit !important;
  }

  /* line 475, ../../drugis-css/foundation/components/_visibility.scss */
  .show-for-small-only,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-medium-only,
  .show-for-large,
  .show-for-large-only,
  .show-for-large-down,
  .hide-for-xlarge,
  .show-for-xlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge-only {
    display: none !important;
  }

  /* Specific visilbity for tables */
  /* line 489, ../../drugis-css/foundation/components/_visibility.scss */
  table.hide-for-small, table.hide-for-small-only, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-medium-only, table.show-for-medium-up, table.show-for-large-up, table.show-for-xlarge-up, table.show-for-xxlarge-up, table.show-for-xxlarge-only {
    display: table;
  }

  /* line 501, ../../drugis-css/foundation/components/_visibility.scss */
  thead.hide-for-small, thead.hide-for-small-only, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.show-for-large-up, thead.show-for-xlarge-up, thead.show-for-xxlarge-up, thead.show-for-xxlarge-only {
    display: table-header-group !important;
  }

  /* line 513, ../../drugis-css/foundation/components/_visibility.scss */
  tbody.hide-for-small, tbody.hide-for-small-only, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.show-for-large-up, tbody.show-for-xlarge-up, tbody.show-for-xxlarge-up, tbody.show-for-xxlarge-only {
    display: table-row-group !important;
  }

  /* line 525, ../../drugis-css/foundation/components/_visibility.scss */
  tr.hide-for-small, tr.hide-for-small-only, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.show-for-large-up, tr.show-for-xlarge-up, tr.show-for-xxlarge-up, tr.show-for-xxlarge-only {
    display: table-row !important;
  }

  /* line 538, ../../drugis-css/foundation/components/_visibility.scss */
  td.hide-for-small, td.hide-for-small-only, td.hide-for-medium, td.hide-for-medium-down, td.hide-for-medium-only, td.show-for-medium-up, td.show-for-large-up, td.show-for-xlarge-up, td.show-for-xxlarge-up, td.show-for-xxlarge-only,
  th.hide-for-small,
  th.hide-for-small-only,
  th.hide-for-medium,
  th.hide-for-medium-down,
  th.hide-for-medium-only,
  th.show-for-medium-up,
  th.show-for-large-up,
  th.show-for-xlarge-up,
  th.show-for-xxlarge-up,
  th.show-for-xxlarge-only {
    display: table-cell !important;
  }
}
/* Orientation targeting */
/* line 553, ../../drugis-css/foundation/components/_visibility.scss */
.show-for-landscape,
.hide-for-portrait {
  display: inherit !important;
}

/* line 555, ../../drugis-css/foundation/components/_visibility.scss */
.hide-for-landscape,
.show-for-portrait {
  display: none !important;
}

/* Specific visilbity for tables */
/* line 560, ../../drugis-css/foundation/components/_visibility.scss */
table.hide-for-landscape, table.show-for-portrait {
  display: table;
}

/* line 564, ../../drugis-css/foundation/components/_visibility.scss */
thead.hide-for-landscape, thead.show-for-portrait {
  display: table-header-group !important;
}

/* line 568, ../../drugis-css/foundation/components/_visibility.scss */
tbody.hide-for-landscape, tbody.show-for-portrait {
  display: table-row-group !important;
}

/* line 572, ../../drugis-css/foundation/components/_visibility.scss */
tr.hide-for-landscape, tr.show-for-portrait {
  display: table-row !important;
}

/* line 577, ../../drugis-css/foundation/components/_visibility.scss */
td.hide-for-landscape, td.show-for-portrait,
th.hide-for-landscape,
th.show-for-portrait {
  display: table-cell !important;
}

@media only screen and (orientation: landscape) {
  /* line 582, ../../drugis-css/foundation/components/_visibility.scss */
  .show-for-landscape,
  .hide-for-portrait {
    display: inherit !important;
  }

  /* line 584, ../../drugis-css/foundation/components/_visibility.scss */
  .hide-for-landscape,
  .show-for-portrait {
    display: none !important;
  }

  /* Specific visilbity for tables */
  /* line 589, ../../drugis-css/foundation/components/_visibility.scss */
  table.show-for-landscape, table.hide-for-portrait {
    display: table;
  }

  /* line 593, ../../drugis-css/foundation/components/_visibility.scss */
  thead.show-for-landscape, thead.hide-for-portrait {
    display: table-header-group !important;
  }

  /* line 597, ../../drugis-css/foundation/components/_visibility.scss */
  tbody.show-for-landscape, tbody.hide-for-portrait {
    display: table-row-group !important;
  }

  /* line 601, ../../drugis-css/foundation/components/_visibility.scss */
  tr.show-for-landscape, tr.hide-for-portrait {
    display: table-row !important;
  }

  /* line 606, ../../drugis-css/foundation/components/_visibility.scss */
  td.show-for-landscape, td.hide-for-portrait,
  th.show-for-landscape,
  th.hide-for-portrait {
    display: table-cell !important;
  }
}
@media only screen and (orientation: portrait) {
  /* line 612, ../../drugis-css/foundation/components/_visibility.scss */
  .show-for-portrait,
  .hide-for-landscape {
    display: inherit !important;
  }

  /* line 614, ../../drugis-css/foundation/components/_visibility.scss */
  .hide-for-portrait,
  .show-for-landscape {
    display: none !important;
  }

  /* Specific visilbity for tables */
  /* line 619, ../../drugis-css/foundation/components/_visibility.scss */
  table.show-for-portrait, table.hide-for-landscape {
    display: table;
  }

  /* line 623, ../../drugis-css/foundation/components/_visibility.scss */
  thead.show-for-portrait, thead.hide-for-landscape {
    display: table-header-group !important;
  }

  /* line 627, ../../drugis-css/foundation/components/_visibility.scss */
  tbody.show-for-portrait, tbody.hide-for-landscape {
    display: table-row-group !important;
  }

  /* line 631, ../../drugis-css/foundation/components/_visibility.scss */
  tr.show-for-portrait, tr.hide-for-landscape {
    display: table-row !important;
  }

  /* line 636, ../../drugis-css/foundation/components/_visibility.scss */
  td.show-for-portrait, td.hide-for-landscape,
  th.show-for-portrait,
  th.hide-for-landscape {
    display: table-cell !important;
  }
}
/* Touch-enabled device targeting */
/* line 642, ../../drugis-css/foundation/components/_visibility.scss */
.show-for-touch {
  display: none !important;
}

/* line 643, ../../drugis-css/foundation/components/_visibility.scss */
.hide-for-touch {
  display: inherit !important;
}

/* line 644, ../../drugis-css/foundation/components/_visibility.scss */
.touch .show-for-touch {
  display: inherit !important;
}

/* line 645, ../../drugis-css/foundation/components/_visibility.scss */
.touch .hide-for-touch {
  display: none !important;
}

/* Specific visilbity for tables */
/* line 648, ../../drugis-css/foundation/components/_visibility.scss */
table.hide-for-touch {
  display: table;
}

/* line 649, ../../drugis-css/foundation/components/_visibility.scss */
.touch table.show-for-touch {
  display: table;
}

/* line 650, ../../drugis-css/foundation/components/_visibility.scss */
thead.hide-for-touch {
  display: table-header-group !important;
}

/* line 651, ../../drugis-css/foundation/components/_visibility.scss */
.touch thead.show-for-touch {
  display: table-header-group !important;
}

/* line 652, ../../drugis-css/foundation/components/_visibility.scss */
tbody.hide-for-touch {
  display: table-row-group !important;
}

/* line 653, ../../drugis-css/foundation/components/_visibility.scss */
.touch tbody.show-for-touch {
  display: table-row-group !important;
}

/* line 654, ../../drugis-css/foundation/components/_visibility.scss */
tr.hide-for-touch {
  display: table-row !important;
}

/* line 655, ../../drugis-css/foundation/components/_visibility.scss */
.touch tr.show-for-touch {
  display: table-row !important;
}

/* line 656, ../../drugis-css/foundation/components/_visibility.scss */
td.hide-for-touch {
  display: table-cell !important;
}

/* line 657, ../../drugis-css/foundation/components/_visibility.scss */
.touch td.show-for-touch {
  display: table-cell !important;
}

/* line 658, ../../drugis-css/foundation/components/_visibility.scss */
th.hide-for-touch {
  display: table-cell !important;
}

/* line 659, ../../drugis-css/foundation/components/_visibility.scss */
.touch th.show-for-touch {
  display: table-cell !important;
}

/* line 1, ../../drugis-css/_drugis.scss */
#hero {
  background: #CC3333;
  height: 420px;
  text-align: left;
  position: relative;
  padding: 100px 20px 0 20px;
}

/* line 9, ../../drugis-css/_drugis.scss */
#hero h1 {
  font-size: 4em;
  color: white;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 100%;
}

/* line 17, ../../drugis-css/_drugis.scss */
#hero h1 small {
  color: white;
}

/* line 21, ../../drugis-css/_drugis.scss */
#hero h4 {
  font-size: 1.35em;
  color: white;
  font-weight: 300;
}

/* line 27, ../../drugis-css/_drugis.scss */
header {
  background: #CC3333;
  text-align: left;
  position: relative;
  padding: 25px 20px 35px 0px;
}

/* line 34, ../../drugis-css/_drugis.scss */
header h2 {
  font-size: 3.5em;
  color: white;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 100%;
}

/* line 42, ../../drugis-css/_drugis.scss */
header h4 {
  color: white;
}

/* line 46, ../../drugis-css/_drugis.scss */
header small {
  color: white;
}

/* line 50, ../../drugis-css/_drugis.scss */
.content {
  padding-top: 20px;
}

/* line 54, ../../drugis-css/_drugis.scss */
h3 img {
  float: right;
  margin-right: 10px;
}

/* line 59, ../../drugis-css/_drugis.scss */
.row-divider {
  margin: 2rem 0;
}

/* line 63, ../../drugis-css/_drugis.scss */
.screen-shot {
  border: 1px solid #dddddd;
  padding: 4px;
  margin: 0.5rem;
}

/* line 69, ../../drugis-css/_drugis.scss */
.footer {
  background: #333333;
  padding: 24px 0 10px;
}

/* line 74, ../../drugis-css/_drugis.scss */
.footer a,
.footer h4,
.footer p {
  color: #666666;
}

/* line 80, ../../drugis-css/_drugis.scss */
.footer a:hover {
  color: #777777;
}

/* ---------sticky footer --------------*/
/* line 86, ../../drugis-css/_drugis.scss */
* {
  margin: 0;
}

/* line 90, ../../drugis-css/_drugis.scss */
html, body {
  height: 100%;
}

/* line 94, ../../drugis-css/_drugis.scss */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4rem;
}

/* line 101, ../../drugis-css/_drugis.scss */
.push {
  height: 4.5rem;
}

/* line 105, ../../drugis-css/_drugis.scss */
.footer {
  height: 4.5rem;
}

/* line 109, ../../drugis-css/_drugis.scss */
.footer, .push {
  clear: both;
}

/* line 113, ../../drugis-css/_drugis.scss */
.copyright {
  display: inline;
}

/* -------- end sticky footer---------*/
/* line 118, ../../drugis-css/_drugis.scss */
#map_canvas {
  height: 280px;
}

/* standard */
/* line 123, ../../drugis-css/_drugis.scss */
pre {
  margin-bottom: 1.25rem;
  border: 1px solid #b4b4b4;
  background-color: #e7e7e7;
  padding: 0.8em;
  font-size: 1rem;
  overflow-x: auto;
}

/* line 132, ../../drugis-css/_drugis.scss */
pre code {
  border: none;
  background: none;
  padding: 0px;
}

/* line 138, ../../drugis-css/_drugis.scss */
code {
  border: 1px solid #b4b4b4;
  background-color: #e7e7e7;
  padding: 0 0.2em 0 0.2em;
}

/* Tabs */
/* line 3, ../../sass/_main.scss */
div.tabs {
  padding: 10px;
}

/* line 6, ../../sass/_main.scss */
ul.tabsNavigation {
  margin: 0 10px;
  padding: 0;
  text-align: left;
}

/* line 11, ../../sass/_main.scss */
ul.tabsNavigation > li {
  list-style: none;
  display: inline;
}

/* line 15, ../../sass/_main.scss */
ul.tabsNavigation > li > a {
  font-size: 0.875em;
  border: 1px solid #E0E0E0;
  padding: 10px 15px 4px 15px;
  background: #F0F0F0;
  text-decoration: none;
}

/* line 22, ../../sass/_main.scss */
ul.tabsNavigation > li > a:hover {
  background-color: #F6F6F6;
}

/* line 25, ../../sass/_main.scss */
ul.tabsNavigation > li.current > a {
  background: #fff;
  color: #222;
  border-bottom: 1px solid #fff;
}

/* line 30, ../../sass/_main.scss */
div.fakeTabsContent {
  border-top: 1px solid #E0E0E0;
}

/* inline results */
/* line 35, ../../sass/_main.scss */
#results .loader, .hidden {
  display: none;
}

/* line 39, ../../sass/_main.scss */
#results.loading > img {
  opacity: 0.5;
}

/* line 43, ../../sass/_main.scss */
#results.loading .loader {
  float: left;
  position: relative;
  z-index: 2;
  display: block;
  width: 400px;
  height: 400px;
  text-align: center;
  top: 200px;
  background-color: white;
  padding: 5px;
}

/* line 56, ../../sass/_main.scss */
#results.loading .graph {
  display: none;
}

/* line 60, ../../sass/_main.scss */
.jslider-bg i.x {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  background-color: #CC002C;
  background-image: none;
  display: inline-block;
}

/* line 69, ../../sass/_main.scss */
input[type='file'] {
  width: auto !important;
}

/* line 73, ../../sass/_main.scss */
.alert-box {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/*
* This product includes color specifications and designs developed by Cynthia
* Brewer (http://colorbrewer.org/).
*/
/* line 82, ../../sass/_main.scss */
.RdYlGn .q0-3 {
  background-color: #fc8d59;
}

/* line 83, ../../sass/_main.scss */
.RdYlGn .q1-3 {
  background-color: #ffffbf;
}

/* line 84, ../../sass/_main.scss */
.RdYlGn .q2-3 {
  background-color: #91cf60;
}

/* line 85, ../../sass/_main.scss */
.RdYlGn .q0-4 {
  background-color: #d7191c;
}

/* line 86, ../../sass/_main.scss */
.RdYlGn .q1-4 {
  background-color: #fdae61;
}

/* line 87, ../../sass/_main.scss */
.RdYlGn .q2-4 {
  background-color: #a6d96a;
}

/* line 88, ../../sass/_main.scss */
.RdYlGn .q3-4 {
  background-color: #1a9641;
}

/* line 89, ../../sass/_main.scss */
.RdYlGn .q0-5 {
  background-color: #d7191c;
}

/* line 90, ../../sass/_main.scss */
.RdYlGn .q1-5 {
  background-color: #fdae61;
}

/* line 91, ../../sass/_main.scss */
.RdYlGn .q2-5 {
  background-color: #ffffbf;
}

/* line 92, ../../sass/_main.scss */
.RdYlGn .q3-5 {
  background-color: #a6d96a;
}

/* line 93, ../../sass/_main.scss */
.RdYlGn .q4-5 {
  background-color: #1a9641;
}

/* line 94, ../../sass/_main.scss */
.RdYlGn .q0-6 {
  background-color: #d73027;
}

/* line 95, ../../sass/_main.scss */
.RdYlGn .q1-6 {
  background-color: #fc8d59;
}

/* line 96, ../../sass/_main.scss */
.RdYlGn .q2-6 {
  background-color: #fee08b;
}

/* line 97, ../../sass/_main.scss */
.RdYlGn .q3-6 {
  background-color: #d9ef8b;
}

/* line 98, ../../sass/_main.scss */
.RdYlGn .q4-6 {
  background-color: #91cf60;
}

/* line 99, ../../sass/_main.scss */
.RdYlGn .q5-6 {
  background-color: #1a9850;
}

/* line 100, ../../sass/_main.scss */
.RdYlGn .q0-7 {
  background-color: #d73027;
}

/* line 101, ../../sass/_main.scss */
.RdYlGn .q1-7 {
  background-color: #fc8d59;
}

/* line 102, ../../sass/_main.scss */
.RdYlGn .q2-7 {
  background-color: #fee08b;
}

/* line 103, ../../sass/_main.scss */
.RdYlGn .q3-7 {
  background-color: #ffffbf;
}

/* line 104, ../../sass/_main.scss */
.RdYlGn .q4-7 {
  background-color: #d9ef8b;
}

/* line 105, ../../sass/_main.scss */
.RdYlGn .q5-7 {
  background-color: #91cf60;
}

/* line 106, ../../sass/_main.scss */
.RdYlGn .q6-7 {
  background-color: #1a9850;
}

/* line 107, ../../sass/_main.scss */
.RdYlGn .q0-8 {
  background-color: #d73027;
}

/* line 108, ../../sass/_main.scss */
.RdYlGn .q1-8 {
  background-color: #f46d43;
}

/* line 109, ../../sass/_main.scss */
.RdYlGn .q2-8 {
  background-color: #fdae61;
}

/* line 110, ../../sass/_main.scss */
.RdYlGn .q3-8 {
  background-color: #fee08b;
}

/* line 111, ../../sass/_main.scss */
.RdYlGn .q4-8 {
  background-color: #d9ef8b;
}

/* line 112, ../../sass/_main.scss */
.RdYlGn .q5-8 {
  background-color: #a6d96a;
}

/* line 113, ../../sass/_main.scss */
.RdYlGn .q6-8 {
  background-color: #66bd63;
}

/* line 114, ../../sass/_main.scss */
.RdYlGn .q7-8 {
  background-color: #1a9850;
}

/* line 115, ../../sass/_main.scss */
.RdYlGn .q0-9 {
  background-color: #d73027;
}

/* line 116, ../../sass/_main.scss */
.RdYlGn .q1-9 {
  background-color: #f46d43;
}

/* line 117, ../../sass/_main.scss */
.RdYlGn .q2-9 {
  background-color: #fdae61;
}

/* line 118, ../../sass/_main.scss */
.RdYlGn .q3-9 {
  background-color: #fee08b;
}

/* line 119, ../../sass/_main.scss */
.RdYlGn .q4-9 {
  background-color: #ffffbf;
}

/* line 120, ../../sass/_main.scss */
.RdYlGn .q5-9 {
  background-color: #d9ef8b;
}

/* line 121, ../../sass/_main.scss */
.RdYlGn .q6-9 {
  background-color: #a6d96a;
}

/* line 122, ../../sass/_main.scss */
.RdYlGn .q7-9 {
  background-color: #66bd63;
}

/* line 123, ../../sass/_main.scss */
.RdYlGn .q8-9 {
  background-color: #1a9850;
}

/* line 124, ../../sass/_main.scss */
.RdYlGn .q0-10 {
  background-color: #a50026;
}

/* line 125, ../../sass/_main.scss */
.RdYlGn .q1-10 {
  background-color: #d73027;
}

/* line 126, ../../sass/_main.scss */
.RdYlGn .q2-10 {
  background-color: #f46d43;
}

/* line 127, ../../sass/_main.scss */
.RdYlGn .q3-10 {
  background-color: #fdae61;
}

/* line 128, ../../sass/_main.scss */
.RdYlGn .q4-10 {
  background-color: #fee08b;
}

/* line 129, ../../sass/_main.scss */
.RdYlGn .q5-10 {
  background-color: #d9ef8b;
}

/* line 130, ../../sass/_main.scss */
.RdYlGn .q6-10 {
  background-color: #a6d96a;
}

/* line 131, ../../sass/_main.scss */
.RdYlGn .q7-10 {
  background-color: #66bd63;
}

/* line 132, ../../sass/_main.scss */
.RdYlGn .q8-10 {
  background-color: #1a9850;
}

/* line 133, ../../sass/_main.scss */
.RdYlGn .q9-10 {
  background-color: #006837;
}

/* line 134, ../../sass/_main.scss */
.RdYlGn .q0-11 {
  background-color: #a50026;
}

/* line 135, ../../sass/_main.scss */
.RdYlGn .q1-11 {
  background-color: #d73027;
}

/* line 136, ../../sass/_main.scss */
.RdYlGn .q2-11 {
  background-color: #f46d43;
}

/* line 137, ../../sass/_main.scss */
.RdYlGn .q3-11 {
  background-color: #fdae61;
}

/* line 138, ../../sass/_main.scss */
.RdYlGn .q4-11 {
  background-color: #fee08b;
}

/* line 139, ../../sass/_main.scss */
.RdYlGn .q5-11 {
  background-color: #ffffbf;
}

/* line 140, ../../sass/_main.scss */
.RdYlGn .q6-11 {
  background-color: #d9ef8b;
}

/* line 141, ../../sass/_main.scss */
.RdYlGn .q7-11 {
  background-color: #a6d96a;
}

/* line 142, ../../sass/_main.scss */
.RdYlGn .q8-11 {
  background-color: #66bd63;
}

/* line 143, ../../sass/_main.scss */
.RdYlGn .q9-11 {
  background-color: #1a9850;
}

/* line 144, ../../sass/_main.scss */
.RdYlGn .q10-11 {
  background-color: #006837;
}

/* line 10, ../../sass/addis-drugis.scss */
.alert {
  color: #E66464;
}

/* line 13, ../../sass/addis-drugis.scss */
.warning {
  color: #f2973c;
}

/* line 16, ../../sass/addis-drugis.scss */
.info {
  color: #77c0de;
}

/* line 19, ../../sass/addis-drugis.scss */
.color-stripe {
  background: #CC3333;
  height: 0.45rem;
}

/* line 23, ../../sass/addis-drugis.scss */
.alert-box-message {
  padding-right: 1.25rem;
}

/* line 26, ../../sass/addis-drugis.scss */
label {
  margin-top: 0.5rem;
}

/* line 29, ../../sass/addis-drugis.scss */
.inline-header {
  display: inline;
}

/* line 32, ../../sass/addis-drugis.scss */
.project-header {
  margin-bottom: 1.25rem;
}

/* line 35, ../../sass/addis-drugis.scss */
.project-description {
  padding: 10px 0px;
}

/* line 38, ../../sass/addis-drugis.scss */
.nested-view {
  min-height: 4rem;
}

/* line 41, ../../sass/addis-drugis.scss */
.nested-view .has-tip {
  font-weight: inherit;
  border-bottom: none;
}

/* line 45, ../../sass/addis-drugis.scss */
.nested-view ul {
  border: solid 1px #dadada;
  padding: 0.5rem;
}

/* line 49, ../../sass/addis-drugis.scss */
.nested-view li.colored-row {
  background: #f4f4f4;
  margin-bottom: 10px;
  padding: 0.5rem 0.25rem 0.5rem 0.5rem;
}

/* line 55, ../../sass/addis-drugis.scss */
.checkbox-group {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
}

/* line 60, ../../sass/addis-drugis.scss */
.error-message {
  display: block;
  color: #CC3333;
}

/* line 66, ../../sass/addis-drugis.scss */
.user-image {
  margin-top: -1px;
  margin-right: 4px;
  height: 32px;
  border-radius: 15px;
}

/* line 76, ../../sass/addis-drugis.scss */
div.row.property-section {
  margin-bottom: 2rem;
}
/* line 78, ../../sass/addis-drugis.scss */
div.row.property-section h5 {
  padding-left: 1rem;
}

/* line 83, ../../sass/addis-drugis.scss */
div.row.property-section:last-child {
  margin-bottom: 0;
}

/* Horizontal Definition Lists */
/* line 89, ../../sass/addis-drugis.scss */
dl.horizontal dt {
  float: left;
  width: 160px;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 97, ../../sass/addis-drugis.scss */
dl.horizontal dd {
  margin-left: 180px;
}

/* line 103, ../../sass/addis-drugis.scss */
dl.horizontal-large dt {
  width: 200px;
}
/* line 106, ../../sass/addis-drugis.scss */
dl.horizontal-large dd {
  margin-left: 220px;
}

/* line 114, ../../sass/addis-drugis.scss */
table {
  border-collapse: collapse;
}
/* line 117, ../../sass/addis-drugis.scss */
table tr:nth-of-type(even) {
  background-color: transparent;
}
/* line 121, ../../sass/addis-drugis.scss */
table tr th.sortable {
  cursor: pointer;
}
/* line 124, ../../sass/addis-drugis.scss */
table tr th, table tr td {
  border: solid 1px #dadada;
}
/* line 126, ../../sass/addis-drugis.scss */
table tr th a:hover, table tr td a:hover {
  text-decoration: underline;
}
/* line 130, ../../sass/addis-drugis.scss */
table tr td.button-cell {
  text-align: center;
}
/* line 132, ../../sass/addis-drugis.scss */
table tr td.button-cell button {
  margin-bottom: 0;
  font-size: 0.875rem;
}

/* line 139, ../../sass/addis-drugis.scss */
td.empty-cell {
  background-color: #dadada;
}

/* line 143, ../../sass/addis-drugis.scss */
tr.on-hover:hover {
  background: #e6e6e6;
  cursor: pointer;
  text-decoration: none;
}

/* line 148, ../../sass/addis-drugis.scss */
tr.clickable td {
  color: #452F8C;
}

/* line 151, ../../sass/addis-drugis.scss */
table.network-meta-analysis-table {
  border: none;
  border-spacing: 0px;
}
/* line 154, ../../sass/addis-drugis.scss */
table.network-meta-analysis-table tbody tr td {
  border-bottom: solid 1px #dadada;
  vertical-align: top;
}
/* line 157, ../../sass/addis-drugis.scss */
table.network-meta-analysis-table tbody tr td label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  margin: 0;
}
/* line 163, ../../sass/addis-drugis.scss */
table.network-meta-analysis-table tbody tr td input[type="checkbox"] {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -3px;
  *overflow: hidden;
}
/* line 173, ../../sass/addis-drugis.scss */
table.network-meta-analysis-table tbody tr td .alert-message {
  color: #E66464;
  padding-top: 1px;
}
/* line 178, ../../sass/addis-drugis.scss */
table.network-meta-analysis-table thead tr th {
  border-bottom: solid 1px #dadada;
}
/* line 181, ../../sass/addis-drugis.scss */
table.network-meta-analysis-table tr.topborder td {
  border-top: solid 1px #dadada;
}

/* line 185, ../../sass/addis-drugis.scss */
.undefined {
  color: #747474;
}

/* line 188, ../../sass/addis-drugis.scss */
.table-cell-label {
  font-weight: bold;
  text-align: center;
}

/* line 196, ../../sass/addis-drugis.scss */
.table-title {
  margin-left: 2px;
  font-size: 14px;
  font-family: inherit;
  margin-top: 10px;
  margin-bottom: 4px;
}

/* line 203, ../../sass/addis-drugis.scss */
.addis-graph {
  background-color: white;
  border: solid 1px #dadada;
  margin-bottom: 10px;
}

/* line 208, ../../sass/addis-drugis.scss */
.graph-legend {
  padding: 0.5rem 1rem;
}

/* line 213, ../../sass/addis-drugis.scss */
.addis-select2.select2-container-multi .select2-choices .select2-search-choice {
  margin-top: 8px;
}

/* line 217, ../../sass/addis-drugis.scss */
.addis-select2.select2-container .select2-choice {
  height: 34px;
  filter: none;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
  background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
  background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
  background-image: linear-gradient(to bottom, #eee 1%, #fff 15%);
  border-radius: 0px;
  line-height: normal;
  padding: 8px;
}
/* line 228, ../../sass/addis-drugis.scss */
.addis-select2.select2-container .select2-choice .select2-arrow {
  background: #fff;
  border-left: none;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
  background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
  background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
  background-image: linear-gradient(to bottom, #eee 1%, #fff 15%);
}

/* line 238, ../../sass/addis-drugis.scss */
.addis-select2.ui-select-multiple.select2.select2-container.select2-container-multi {
  margin-bottom: 1.6rem;
}

/* line 242, ../../sass/addis-drugis.scss */
.ssbr-warning-information {
  color: rgba(41, 62, 163, 0.85);
}
