/*
Error: Undefined variable: "$crumb-bg".
        on line 1 of /home/daan/repos/trialverse/src/main/webapp/resources/drugis-css/_drugis.scss
        from line 4 of /home/daan/repos/trialverse/src/main/webapp/resources/sass/trialverse-drugis-ie8.scss

1: @import "settings";
2: @import "settings-ie8";
3: @import "foundation3";
4: @import "drugis";
5: @import "drugis-ie8";
6: @import "main";

Backtrace:
/home/daan/repos/trialverse/src/main/webapp/resources/drugis-css/_drugis.scss:1
/home/daan/repos/trialverse/src/main/webapp/resources/sass/trialverse-drugis-ie8.scss:4
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/script/tree/variable.rb:49:in `_perform'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/script/tree/node.rb:50:in `perform'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:468:in `visit_variable'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:325:in `map'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/stack.rb:88:in `block in with_import'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/stack.rb:88:in `with_import'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:157:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/root_node.rb:20:in `render'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/engine.rb:268:in `render'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:328:in `block in watch'
/var/lib/gems/2.1.0/gems/listen-2.8.5/lib/listen/listener.rb:282:in `call'
/var/lib/gems/2.1.0/gems/listen-2.8.5/lib/listen/listener.rb:282:in `_process_changes'
/var/lib/gems/2.1.0/gems/listen-2.8.5/lib/listen/listener.rb:246:in `block in _wait_for_changes'
/var/lib/gems/2.1.0/gems/listen-2.8.5/lib/listen/listener.rb:229:in `loop'
/var/lib/gems/2.1.0/gems/listen-2.8.5/lib/listen/listener.rb:229:in `_wait_for_changes'
/var/lib/gems/2.1.0/gems/listen-2.8.5/lib/listen/listener.rb:318:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$crumb-bg\".\A         on line 1 of /home/daan/repos/trialverse/src/main/webapp/resources/drugis-css/_drugis.scss\A         from line 4 of /home/daan/repos/trialverse/src/main/webapp/resources/sass/trialverse-drugis-ie8.scss\A \A 1: @import \"settings\";\A 2: @import \"settings-ie8\";\A 3: @import \"foundation3\";\A 4: @import \"drugis\";\A 5: @import \"drugis-ie8\";\A 6: @import \"main\";"; }
