<form id="add-outcome-form" novalidate ng-submit="addOutcome(newOutcome)">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h3>Add a new outcome</h3>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell">
        <label>Semantic outcome
          <select id="outcome-select" ng-model="newOutcome.semanticOutcome" ng-options="semanticOutcome as semanticOutcome.label for semanticOutcome in semanticOutcomes | orderBy:'label'"
            ng-change="newOutcome.name = newOutcome.semanticOutcome.label; checkForDuplicateOutcomeName(newOutcome.name)"></select>
        </label>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell">
        <label>Name
          <input id="outcome-name-input" type="text" ng-model="newOutcome.name" ng-change="checkForDuplicateOutcomeName(newOutcome.name)">
        </label>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell">
        <label>Outcome direction</label>
        <input type="radio" id="higher-is-better-radio" ng-value="1" ng-model="newOutcome.direction">
        <label for="higher-is-better-radio">Higher is better</label>
        <input type="radio" id="lower-is-better-radio" ng-value="-1" ng-model="newOutcome.direction">
        <label for="lower-is-better-radio">Lower is better</label>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell">
        <label>Motivation
          <textarea id="outcome-desc-txt" rows="4" ng-model="newOutcome.motivation"></textarea>
        </label>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell">
        <button id="add-outcome-sumbit-btn" class="button small success" ng-disabled="!newOutcome.name || !newOutcome.semanticOutcome || duplicateOutcomeName.isDuplicate"
          type="submit">Add outcome
        </button>
        <div class="alert" ng-show="duplicateOutcomeName.isDuplicate">Duplicate name.</div>
      </div>
    </div>
  </div>
  <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</form>