<form id="add-outcome-form" novalidate ng-submit="addOutcome(newOutcome)">
  <h3>Add a new outcome</h3>
  <div class="row">
    <div class="large-10 columns">
      <label>Semantic outcome
        <select id="outcome-select" ng-model="newOutcome.semanticOutcome" ng-options="semanticOutcome as semanticOutcome.label for semanticOutcome in semanticOutcomes | orderBy:'label'"
        ng-change="newOutcome.name = newOutcome.semanticOutcome.label; checkForDuplicateOutcomeName(newOutcome.name)"></select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-10 columns">
      <label>Name
        <input id="outcome-name-input" type="text" ng-model="newOutcome.name" ng-change="checkForDuplicateOutcomeName(newOutcome.name)">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-10 columns">
      <label>Motivation
        <textarea id="outcome-desc-txt" rows="4" ng-model="newOutcome.motivation"></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <button id="add-outcome-sumbit-btn" class="button small success" ng-disabled="!newOutcome.name || !newOutcome.semanticOutcome || duplicateOutcomeName.isDuplicate"
    type="submit">Add outcome
    </button>
    <div class="alert" ng-show="duplicateOutcomeName.isDuplicate">Duplicate name.</div>
  </div>
  <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</form>
