<form novalidate ng-submit="editItem()">
    <div class="row">
        <div class="large-8 columns">
            <h3>Edit Population Characteristic</h3>
        </div>
    </div>
    <div class="row">
        <div class="large-8 columns">
            <label>Name
                <input autofocus type="text" ng-model="item.label.value">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <label>Measurement type</label>
            <input ng-model="item.measurementType.value" type="radio" name="measurementType"
                   value="http://trials.drugis.org/ontology#rate" id="rateOption"><label for="rateOption">rate</label>
            <input ng-model="item.measurementType.value" type="radio" name="measurementType"
                   value="http://trials.drugis.org/ontology#continuous" id="continuousOption"><label
            for="continuousOption">continuous</label>
        </div>
    </div>
    <div class="row">
        <div class="large-8 columns">
            <button class="success" type="submit" ng-disabled="!item.label.value || !item.measurementType.value">Edit
            </button>
        </div>
    </div>
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</form>
