<div class="fixed">
  <div class="top-bar">
    <div class="grid-x top-bar-left">
      <div class="cell large-2 medium-4">
        <ul class="menu">
          <li>
            <a ng-if="!isAnonymous" id="logo" ui-sref="datasets({userUid: loginUserInfo.id})">addis.drugis.org</a>
            <a ng-if="isAnonymous" id="logo" ui-sref="home">addis.drugis.org</a>
          </li>
        </ul>
      </div>
      <ng-transclude></ng-transclude>
    </div>
    <div class="top-bar-right">
      <!-- Right Nav Section -->
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a class="manual" href="/manual.html" target="_blank">
              <i class="fa fa-book"></i> Manual
            </a>
        </li>
        <li ng-if="!isAnonymous && !isOwnUserPage" class="has-dropdown not-click">
          <a href="#">
            <img class="user-image" ng-src="{{loginUserInfo.imageUrl}}">
            <span ng-show="!navSettings.isHidden">{{loginUserInfo.name}}</span>
          </a>
          <ul class="menu vertical">
            <li>
              <a ng-click="signOut()" href="signout">Sign out</a>
            </li>
          </ul>
        </li>
        <li ng-if="!isAnonymous && isOwnUserPage">
          <a href="signout" >Sign out</a>
        </li>
        <li ng-if="isAnonymous">
          <a class="manual" href="/auth/google?scope=openid+email+profile" ng-click="signin()">Sign in</a>
        </li>
      </ul>
    </div>
  </div>

  <section>
    <div class="color-stripe"></div>
  </section>
</div>