<form novalidate>
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h3>Add a new {{settings.itemName}}</h3>
      </div>
      <div class="cell">
        <label>Name
          <input autofocus type="text" ng-model="variable.label">
        </label>
      </div>
      <div class="cell">
        <label>Measurement type</label>
        <input ng-model="variable.measurementType" type="radio" name="measurementType" ng-change="resetResultProperties()"
          value="ontology:dichotomous" id="rateOption">
        <label for="rateOption">count</label>
        <input ng-model="variable.measurementType" type="radio" name="measurementType" ng-change="resetResultProperties()"
          value="ontology:continuous" id="continuousOption">
        <label for="continuousOption">continuous</label>
        <input ng-model="variable.measurementType" type="radio" name="measurementType" ng-change="resetResultProperties()"
          value="ontology:categorical" id="categoricalOption">
        <label for="categoricalOption">categorical</label>
        <input ng-model="variable.measurementType" type="radio" name="measurementType" ng-change="resetResultProperties()"
          value="ontology:survival" id="survivalOption">
        <label for="survivalOption">survival</label>
      </div>
    </div>

    <div class="grid-x" ng-if="variable.measurementType === 'ontology:categorical'">
      <div class="cell">
        <label>Categories</label>
        <ul class="no-bullet" ng-if="variable.categoryList.length">
          <li ng-repeat="category in variable.categoryList"><a><i class="fa fa-trash-o" style="color: red;" ng-click="deleteCategory(category)"></i></a>
            {{category}}</li>
        </ul>
      </div>
      <div class="cell" ng-if="!variable.categoryList.length">
        (no categories defined yet)
      </div>
      <div class="cell">
        <input ng-model="newCategory.categoryLabel" ng-keypress="addCategoryEnterKey($event, newCategory)">
      </div>
      <div class="cell">
        <button class="button small" ng-disabled="cannotAddCategory(newCategory)" type="button" ng-click="addCategory(newCategory)">Add
          category</button>
        <span class="alert" ng-if="isDuplicateCategory(newCategory)">Duplicate category name</span>
      </div>
    </div>

    <div class="grid-x" ng-if="variable.measurementType !== 'ontology:categorical'">
      <div class="cell">
        <label>Arm level or contrast data</label>
        <input ng-model="variable.armOrContrast" type="radio" name="armOrContrast" ng-change=armOrContrastChanged() id="arm"
          value="ontology:arm_level_data">
        <label for="arm">Arm level data</label>
        <input ng-model="variable.armOrContrast" type="radio" name="armOrContrast" ng-change=armOrContrastChanged() id="contrast"
          value="ontology:contrast_data">
        <label for="contrast">Contrast data</label>
      </div>
      <div class="cell">
        <label>Included result properties: <inline-help help-key="result-properties"></inline-help></label>
        <span ng-show="!changeResultProperties" ng-repeat="property in variable.selectedResultProperties">
          <strong ng-hide="property.type === 'is reference'">{{property.label}}{{$last ? '' : ', '}}</strong>
        </span>
        <result-properties ng-show="changeResultProperties" variable="variable"></result-properties>
      </div>
      <div>
        <button class="button small" type="button" ng-click="changeResultProperties = !changeResultProperties">
          {{changeResultProperties ? 'Finish changing' : 'Change'}}
        </button>
      </div>
    </div>

    <div class="grid-x">
      <div class="cell" ng-if="showTimeScaleInput">
        <label>
          Time scale
          <select ng-options="timeScaleOption.duration as timeScaleOption.label for timeScaleOption in timeScaleOptions"
            ng-model="variable.timeScale"></select>
        </label>
      </div>

      <div class="cell">
        <label>Measured at:</label>
        <subset-select target="variable.measuredAtMoments" source="measurementMoments" equals="measurementMomentEquals"></subset-select>
      </div>

      <div class="cell">
        <button class="button success" type="button" ng-click="addVariable()" ng-disabled="!variable.label || !variable.measurementType">Add</button>
      </div>
    </div>
  </div>
  <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</form>
