<div class="grid-x">
  <div class="cell">
    <ul class="inline-list" ng-if="showCategories">
      <li ng-repeat="category in categories">
        {{category.categoryLabel}}
        <ul class="no-bullet">
          <li ng-repeat="property in category.properties">
            <label>
              <input type="checkbox" ng-model="property.isSelected" ng-change="updateSelection()"> {{property.label}}</input>
              <span class="alert" ng-show="{{!property.analysisReady}}">*</span>
              <inline-help help-key="{{property.lexiconKey}}"></inline-help>
            </label>
          </li>
        </ul>
      </li>
    </ul>
    <ul ng-if="!showCategories" class="no-bullet">
      <li ng-repeat="property in properties">
        <label ng-hide="property.type === 'is reference'">
          <input type="checkbox" ng-model="property.isSelected" ng-change="updateSelection()"> {{property.label}}</input>
          <span class="alert" ng-show="{{!property.analysisReady}}">*</span>
          <inline-help help-key='{{property.lexiconKey}}'></inline-help>
        </label>
        <div ng-if="variable.armOrContrast === 'ontology:contrast_data' && property.type === 'confidence interval' && property.isSelected">
          <input type="number" step="1" min="0" max="100" ng-model="variable.confidenceInterval">
        </div>
      </li>
    </ul>
  </div>
  <div class="cell alert" ng-if="hasNotAnalysedProperty">*These measurements are currently not supported for analysis.</div>
</div>
