<div class="grid-x" ng-if="showCategories" ng-repeat="category in categories">
  <div class="cell">
    {{category.categoryLabel}}
  </div>
  <div class="cell" ng-repeat="property in category.properties">
    <label>
      <input type="checkbox" ng-model="property.isSelected" ng-change="updateSelection()"> {{property.label}}</input>
      <span class="alert" ng-show="{{!property.analysisReady}}">*</span>
      <inline-help help-key="{{property.lexiconKey}}"></inline-help>
    </label>
  </div>
</div>
<div class="grid-x" ng-if="!showCategories" ng-repeat="property in properties">
  <div class="cell">
    <label ng-show="!property.hiddenSelection">
      <input type="checkbox" ng-model="property.isSelected" ng-change="updateSelection()"> {{property.label}}</input>
      <span class="alert" ng-show="{{!property.analysisReady}}">*</span>
      <inline-help help-key='{{property.lexiconKey}}'></inline-help>
    </label>
  </div>
  <div class="cell large-6" ng-if="variable.armOrContrast === 'ontology:contrast_data' && property.type === 'confidence_interval' && property.isSelected">
    <input type="number" step="1" min="0" max="100" ng-model="variable.confidenceIntervalWidth" ng-change="checkConfidenceInterval()">
  </div>
</div>
<div class="grid-x">
  <div class="cell alert" ng-if="hasNotAnalysedProperty">*These measurements are currently not supported for
    analysis.
  </div>
</div>
