<ul class="no-bullet">
  <li>
    <h4>{{::item.label}}</h4>
  </li>
  <li>
    <span>
      Measurement type:
    </span>
    <span>
      <strong ng-if="::item.measurementType === 'ontology:continuous'">continuous</strong>
      <strong ng-if="::item.measurementType === 'ontology:dichotomous'">count</strong>
      <strong ng-if="::item.measurementType === 'ontology:categorical'">categorical</strong>
    </span>
  </li>
  <li ng-if="::item.measurementType === 'ontology:categorical'">
    <span>
      Categories:
    </span>
    <ul>
      <li ng-repeat="category in item.categoryList">{{::category.label ? category.label : category}}</li>
    </ul>
  </li>
  <li ng-if="item.measuredAtMoments.length > 0">
    <span>
      Measured at:
    </span>
    <ul>
      <li ng-repeat="measuredAt in item.measuredAtMoments"><strong>{{::measuredAt.label}}</strong></li>
    </ul>
  </li>
</ul>
