<div class="grid-x">
  <div class="cell">
    <h4>{{item.label}}</h4>
  </div>
  <div class="cell">
    Measurement type:
    <strong ng-if="item.measurementType === 'ontology:continuous'">continuous</strong>
    <strong ng-if="item.measurementType === 'ontology:dichotomous'">count</strong>
    <strong ng-if="item.measurementType === 'ontology:categorical'">categorical</strong>
    <strong ng-if="item.measurementType === 'ontology:survival'">survival</strong>
  </div>
  <div class="cell" ng-if="item.measurementType === 'ontology:categorical'">
    Categories:
    <ul ng-repeat="category in item.categoryList">
      <li>
        {{category.label ? category.label : category}}
      </li>
    </ul>
  </div>
  <div class="cell" ng-if="item.measuredAtMoments.length > 0">
    Measured at:
    <ul>
      <li ng-repeat="measuredAt in item.measuredAtMoments">
        <strong>{{measuredAt.label}}</strong>
      </li>
    </ul>
  </div>
  <div class="cell" ng-if="item.referenceArm">
    Reference arm: <strong>{{referenceArm.label}}</strong>
  </div>
  <div class="cell" ng-if="item.referenceArm">
    Reference standard error: <span ng-if="item.referenceArm && !isEditingAllowed">
      <strong>{{item.referenceStandardError}}</strong>
    </span>
  </div>
  <div class="cell large-2" ng-if="item.referenceArm && isEditingAllowed">
    <input type="number" ng-change="referenceStandardErrorChanged()" ng-model="item.referenceStandardError"
      ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" ng-class="{ 'invalid-trialverse-number' : item.referenceStandardError < 0 }">
  </div>
  <div class="cell large-2" ng-if="item.referenceArm && !isEditingAllowed">
  </div>
</div>
