<form novalidate ng-submit="addItem()">
    <div class="row">
        <div class="large-8 columns">
            <h3>Create a new {{itemName}}</h3>
        </div>
    </div>
    <ng-include="{{addItemUrl}}">
    <!-- <div class="row">
        <div class="large-8 columns">
            <label>Name
                <input autofocus="true" type="text" ng-model="arm.label">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-8 columns">
            <label>Description
                <textarea rows="8" ng-model="arm.comment"></textarea>
            </label>
        </div>
    </div> -->
    <div class="row">
        <div class="large-8 columns">
            <button class="success" type="submit" ng-disabled="!mayCreate()">Create</button>
        </div>
    </div>
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</form>
