<div id="{{settings.anchorId}}" class="study-item">
    <h3>{{settings.header}}<a> <i class="fa fa-info-circle fa-fw"></i></a></h3>

    <div ng-if="items.length === 0">
        <p class="panel">{{settings.categoryEmptyMessage}}</p>
    </div>
    <div ng-if="items">
        <div class="panel clearfix" ng-repeat="item in items | orderBy:'pos'">

            <category-item-directive itemIndex="{{$index}}" item="item" study-uuid="studyUuid" reload-items="reloadItems"
             settings="settings" is-editing-allowed="isEditingAllowed" 
             is-single-item="isSingleItem"></category-item-directive>
        </div>
    </div>

    <a ng-show="isEditingAllowed && !isSingleItem" ng-click="addItem()" class="button success"><i class="fa fa-plus"></i> Add {{settings.itemName}}</a>

</div>