<form novalidate ng-submit="copyStudy(targetDataset)">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h3>Copy study <inline-help help-key="copy-study"></inline-help></h3>
        <label>Choose target dataset
          <select ng-disabled="copyComplete" ng-options="dataset.title for dataset in datasets"
            ng-model="targetDataset">
          </select>
        </label>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell" ng-if="!copyComplete">
        <button class="button success" ng-disabled="isCopying" type="submit">Copy</button>
      </div>
      <div class="cell" ng-if="copyComplete">
        <button class="button" type="button" ng-click="cancel()">Close</button> <a ng-click="cancel()" style="margin-left:1rem; text-decoration: underline;"
          ui-sref="versionedDataset.study({userUid: userUid, datasetUuid: targetDatasetUuid, versionUuid: newVersionUuid, studyGraphUuid: targetGraphUuid})">Go to new copy</a>
      </div>
    </div>
  </div>
  <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</form>