<form novalidate ng-submit="saveStudy()">
  <div class="row">
    <div class="large-9 columns">
      <h3>Edit study</h3>
    </div>
  </div>
  <div class="row">
    <div class="large-9 columns">
      <label>Name
        <input autofocus type="text" ng-model="study.label">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-9 columns">
      <label>Description
        <textarea rows="8" ng-model="study.comment"></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-9 columns">
      <button class="success" type="submit" ng-disabled="!study.label || isSaving">Edit</button>
    </div>
  </div>
  <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</form>
