<form novalidate ng-submit="saveStudy()">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h3>Edit study</h3>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell">
        <label>Short name
          <input autofocus type="text" ng-model="study.label">
        </label>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell">
        <label>Title
          <textarea rows="8" ng-model="study.comment"></textarea>
        </label>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell">
        <button class="button success" type="submit" ng-disabled="!study.label || isSaving">Edit</button>
      </div>
    </div>
  </div>
  <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</form>