<div class="row">
    <div class="columns large-6 medium-9 small-12">
        <h1>{{study.label.value}}</h1>
        <h5><em>{{study.comment.value}}</em></h5>
        <button ng-disabled="!isStudyModified()" ng-click="saveStudy()">Save</button>
        <div ng-show="isStudyModified()"><em class="subheader">Unsaved changes</em></div>
        <div ng-show="!isStudyModified()"><em class="subheader">There are no unsaved changes</em></div>
    </div>
</div>

<div class="row">
    <div class="columns large-12">
        <hr>
    </div>
</div>

<div class="row">
    <div class="columns large-1">
        <ul class="side-nav">
            <li class="active"><a ng-click="sideNavClick('arms')">Arms</a></li>
            <li class="active"><a ng-click="sideNavClick('populationCharacteristics')">Population Characteristics</a></li>
        </ul>
    </div>

    <div class="columns large-11">
        <study-category settings="categorySettings['arms']" items="arms"></study-category>
        <study-category settings="categorySettings['populationCharacteristics']" items="populationCharacteristics"></study-category>
    </div>
</div>

