<div class="row">
    <div class="columns large-12">
        <h1>{{study.label}}</h1>
        <h5><em>{{study.comment}}<em></h5>
    </div>
</div>

<div class="row">
    <div class="columns large-12">
        <hr>
    </div>
</div>

<div class="row">
    <div class="columns large-1">
        <ul class="side-nav">
            <li class="active"><a ng-click="sideNavClick('arms')">Arms</a></li>
            <li class="active"><a ng-click="sideNavClick('epochs')">Epochs</a></li>
        </ul>
    </div>

    <!---------------------------------------- Arms ---------------------------->

    <div id="arms" class="columns large-11 study-item">
        <h3>Arms <a> <i class="fa fa-info-circle fa-fw"></i></a></h3>

        <div ng-if="!study.arms">
            <p class="panel">This study currently contains no arms </p>
        </div>
        <div ng-if="study.arms">
            <div class="panel clearfix" ng-repeat="arm in study.arms">
                <div class="edit-item-controls right">
                    <a href=""> <i class="fa fa-edit fa-2x fa-fw"></i> </a>
                    <a href=""><i class="fa fa-trash-o fa-2x fa-fw"></i></a>
                </div>
                <ul class="no-bullet">
                    <li><span><strong>Arm {{$index + 1}}: </strong></span> <span>{{arm.label}}</span></li>
                    <li><span><strong>Description: </strong></span><span>{{arm.comment || "none"}}</span></li>
                </ul>

            </div>
        </div>

        <a ng-click="showArmDialog()" class="button success"><i class="fa fa-plus"></i> Add arm</a>

    </div>

    <!---------------------------------------- Epochs ---------------------------->

    <div id="epochs" class="columns large-11 study-item">
        <h3>Epochs <a> <i class="fa fa-info-circle fa-fw"></i> </a></h3>

        <div ng-if="!study.epochs">
            <p class="panel">This study currently contains no epochs </p>
        </div>
        <div ng-if="study.epochs">
            <div class="panel" ng-repeat="epoch in study.epochs">
                <div class="edit-item-controls">
                    <a href="" class="right"> <i class="fa fa-edit fa-2x"></i> </a>
                </div>
                <ul class="no-bullet">
                    <li><span><strong>Epoch {{$index + 1}}: </strong><span> <span>{{epoch.label}}</span></li>
                    <li><span><strong>Description: </strong><span> <span>{{arm.comment || "none"}}</span></li>
                    <li><span><strong>Duration: </strong><span> <span>{{arm.comment || "no duration"}}</span></li>
                </ul>
            </div>
        </div>

        <a href="" class="button success"><i class="fa fa-plus"></i> Add Epoch</a>
    </div>

