<form novalidate ng-submit="editItem()">
   <div class="grid-container">
 <div class="grid-x">
    <div class="cell">
      <h3>Edit population information</h3>
    </div>
  </div>

   <div class="grid-x">
    <div class="cell">
      <label>Indication
        <textarea autofocus rows="8" ng-model="itemScratch.indication.label"></textarea>
      </label>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      <label>Eligibility criteria
        <textarea rows="8" ng-model="itemScratch.eligibilityCriteria.label"></textarea>
      </label>
    </div>
  </div>

  <div class="grid-x">
    <div class="cell">
      <button class="success" type="submit" ng-disabled="isEditing">Edit
      </button>
    </div>
  </div>
</div>
    <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</form>
