.subdued {
  color: $addis-grey;
}

.row.application-link {
  margin: 1rem 0;
}

.user-image-large {
  height: 4rem;
  border-radius: 3rem;
}

.top-bar li.name h1.topbar-text a  {
  display: inline;
}

// workaround for missing style on disabled anchor tags in foundaton menu
li#top-bar-commit > a.success.disabled:hover{
  background-color: #29A329
}
li#top-bar-commit-cancel > a.secondary.disabled:hover{
  background-color: #e7e7e7
}

/////////////////////////// end top nav

////////////////////////// side nav ////////////
.side-nav .button {
  margin-bottom: 0.5rem;
}

.modified-warning {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  margin-bottom: 0.5rem;
}

ul.side-nav {
  margin-top: -20px;
  padding: 2rem 1rem;
  background-color: $addis-grey;
}

ul.side-nav li.heading,
ul.side-nav li a.heading {
  color: #008CBA;
  font-size: 0.77778rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
}

/////////////////////////// study

.study-item {
  margin: 0 0 3rem 0;
}

.study-main-category-header {
  color: #008CBA;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

/////////////////////////// end study

////////////////////////// study category iten ///

.form-input-group {
  padding-bottom: 16px;
}

ul.form-list li {
  font-size: 0.875rem;
  cursor: pointer;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}

.modal-bottom-button-bar {
  margin-top: 2rem;
}

///////////////////////// end study category item //

//////////////////////// study results ////
.y-head {
  font-weight: bold;
}

//////// Tables /////////////////
table {
  tr {
    .y-head {
      text-align: center;
      background-color:#F5F5F5;
    }
    td.input-cell {
      padding: 0;
      select,
      input[type="number"] {
       margin: 0;
       border:0;
       text-align: center;
      }
      select {
        padding-right: 1rem;
      }
      input[type="number"].ng-invalid,
      input[type="number"].ng-invalid-number,
      input[type="number"].invalid-trialverse-number  {
        background-color: lighten($alert-color, 10%);
      }
    }
  }
}

tr.clickable td {
  color: $primary-color;
}
//////////////////////// end study results //

/////////////////////// begin mapping tables //////////////////

.cell-with-single-btn {
  display: inline;
  select {
    width: 66%;
    margin: 0;
    margin-right: 1rem;
    padding-right: 1rem; // leave room for drop-down icon
  }
  button {
    margin: 0;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
}

/////////////////////// end mapping tables


.scrollable-wrapper {
  overflow-y: auto;
  margin-top: 1.5rem; // leave some space for the scrollbar
}
