@import "addis-settings";
@import "settings";
@import "foundation";
@import "_gemtc-drugis-base.scss";
@import "addis-base";
@import "_mcda-drugis-base.scss";
@import "mmfoundation-animations";
@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-flex-classes;

@import "drugis";

// load addis style settings //
.info {
  color: #77c0de;
}
.button.secondary {
    background-color: #e7e7e7;
    border-color: #b9b9b9;
    color: #333333;
}
.button.disabled.success, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success, .button[disabled].success:hover, .button[disabled].success:focus {
  color: #FFFFFF;
  opacity: 0.7;
}
.button.success {
    color: #FFFFFF
}

// addis style //
label {
  margin-top: 0.5rem;
}

.nested-view {
  min-height: 4rem;
}
.nested-view .has-tip {
  font-weight: inherit;
  border-bottom: none;
}
.nested-view ul {
  border: solid 1px $addis-grey-border;
  padding: 0.5rem;
}
.nested-view li.colored-row {
  background: $addis-grey;
  margin-bottom: 10px;
  padding: 0.5rem 0.25rem 0.5rem 0.5rem;
}
.no-bottom-margin {
  margin-bottom: 0;
}

// project //

.project-header {
  margin-bottom: 1.25rem;
}

.checkbox-group {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
}

// header ////
.user-image {
  margin-top: -1px;
  margin-right: 4px;
  height: 32px;
  border-radius: 15px;
}

/////////// property lists /////////////////

div.row.property-section {
  margin-bottom: 2rem;
  h5 {
    padding-left: 1rem;
  }
}

div.row.property-section:last-child {
  margin-bottom: 0;
}

/* Horizontal Definition Lists */
dl.horizontal {
  dt {
    float: left;
    width: 160px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  dd {
    margin-left: 180px;
  }
}

dl.horizontal-large {
  dt {
    width: 200px;
  }
  dd {
    margin-left: 220px;
  }
}

/////////// end property lists ////////////

//////// Tables /////////////////
table {
  border-collapse: collapse;
  //remove default foundation striping
  tr:nth-of-type(even) {
    background-color: transparent;
  }
  tr {
    th.sortable {
      cursor: pointer;
    }
    th, td {
      border: solid 1px $addis-grey-border;
      a:hover {
        text-decoration: underline;
      }
      font-size: 0.875rem;
      padding: 0.5625rem 0.625rem;
    }
    td.button-cell {
      text-align: center;
      button {
        margin-bottom: 0;
        font-size: $global-font-size;
      }
    }
  }
}
td.empty-cell {
  background-color: $addis-grey-border;
}
table.network-meta-analysis-table {
  border: none;
  border-spacing: 0px;
  tbody tr td {
    border-bottom: solid 1px $addis-grey-border;
    vertical-align: top;
    label {
      display: block;
      padding-left: 15px;
      text-indent: -15px;
      margin: 0;
    }
    input[type="checkbox"] {
      width: 13px;
      height: 13px;
      padding: 0;
      margin:0;
      vertical-align: bottom;
      position: relative;
      top: -3px;
      *overflow: hidden;
    }
    .alert-message {
      color: $alert-color;
      padding-top: 1px;
    }
  }
  thead tr th {
    border-bottom: solid 1px $addis-grey-border;
  }
  tr.topborder td {
    border-top: solid 1px $addis-grey-border;
  }
}
.undefined {
  color: darken($addis-grey, 50%);
}
.table-cell-label {
  font-weight: bold;
  text-align: center;
}

// d80 table
table.d-80 {
    padding:0;
    margin:0;
    border:1px;
    background-color:#FFFFFF;
    color:#000000;
    vertical-align:center;
    border-width: 1px;
    border-spacing: 0px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
}
table.nested {
    width:100%;
    padding:0px;
    margin:0px;
    border-width: 0px;
    border-style: none;
    border-collapse: collapse;
  }
table.nested td {
  padding:0px;
  margin:0px;
  border-width: 0px;
  border-style: none;
  border-collapse: collapse;
}
  table.nested td.left {
    border-width: 0px 1px 0px 0px;
    border-style: none;
    margin-right: 1em;;
  }
/////////////////////// graphs and tables ////////////////////////
$table-title-font-size: 14px;
$table-title-margin-top: 10px;
$table-title-margin-bottom: 4px;
.table-title {
  margin-left: 2px;
  font-size: $table-title-font-size;
  font-family: inherit;
  margin-top: $table-title-margin-top;
  margin-bottom: $table-title-margin-bottom;
}
.addis-graph {
  background-color: lighten($addis-grey-border, 20%);
  border: solid 1px $addis-grey-border;
  margin-bottom: 10px;
}
.graph-legend {
  padding: 0.5rem 1rem;
}

/////////////////////// select 2 ////////////////////////////////////////////
.addis-select2.select2-container-multi .select2-choices .select2-search-choice {
  margin-top: 8px;
}

.addis-select2.select2-container .select2-choice {
  height: 34px;
  filter: none;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
background-image: linear-gradient(to bottom, #eee 1%, #fff 15%);
border-radius: 0px;
line-height:normal;
padding: 8px;

  .select2-arrow {
    background: #fff;
    border-left: none; // override select2
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
background-image: linear-gradient(to bottom, #eee 1%, #fff 15%);
  }
}

.addis-select2.ui-select-multiple.select2.select2-container.select2-container-multi {
  margin-bottom: 1.6rem;
}

.ssbr-warning-information {
  color: rgba(41, 62, 163, 0.85);
}

.ng-hide.ng-hide-animate {
  display: none !important;
}

.no-margin {
  margin: 0px;
}

// angucomplete auto completion

.angucomplete-row:before {
    border: inset 6px;
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-color: transparent transparent #333333 transparent;
    border-bottom-style: solid;
    position: absolute;
    top: -12px;
    left: 10px;
    z-index: 89;
}

.angucomplete-dropdown {
  border-color: #333333 !important;
}

.angucomplete-selected-row {
    background-color: lightgrey !important;
    color: #333333 !important;
}
