@import "settings";
@import "addis-settings";
@import "foundation";
@import "drugis";
@import "main";
@import "foundation-select2";

$addis-grey : $crumb-bg;
$addis-grey-border : $crumb-border-color;

.color-stripe {
  background: $drugis-color; 
  height: 0.45rem;
}

.alert-box-message {
  padding-right: 1.25rem;
}

label {
  margin-top: 0.5rem;
}

.inline-header {
  display: inline;
}

.project-header {
  border-bottom: 1px solid $addis-grey-border;
  margin-bottom: 1.25rem;
}

.project-description {
  padding: 10px 0px;
}

.nested-view {
  min-height: 4rem;
}

.nested-view .has-tip {
  font-weight: inherit;
  border-bottom: none;
}

.nested-view ul {
  border: solid 1px $addis-grey-border;
  padding: 0.5rem;
}

.nested-view li.colored-row {
 background: $addis-grey;
  margin-bottom: 10px;
  padding: 0.5rem 0.25rem 0.5rem 0.5rem;
}

.error-message {
  display: block;
  color: $drugis-color;
}

// tables
// lighten the darken on hover 
tr.on-hover:hover {
  background: darken($secondary-color, 5%);
  cursor: pointer;
  text-decoration: underline;
}

tr.clickable td {
  color: $primary-color;
}

.undefined {
  font-style: italic;
}


