@import "settings";
@import "foundation";
@import "drugis";
@import "main";

.color-stripe {
  background: $drugis-color; 
  height: 0.45rem;  
  margin-bottom: 0.75rem;
}

.alert-box-message {
  padding-right: 1.25rem;
}

label {
  margin-top: 0.5rem;
}
