$drugis-color: #F57C00; // https://www.materialpalette.com/orange/light-green
$foundation-palette: (
  primary: #452F8C,
  secondary: #767676,
  success:  #29A329,
  warning: lighten(#f08a24, 5%),
  alert: #E66464
);
@import "settings";
@import "settings-ie8";
@import "foundation3";
@import "drugis";
@import "drugis-ie8";
@import "addis-base";
