@import"settings";
@import"trialverse-settings";
@import"foundation";
@import"drugis";
@import"main";
@import"mmfoundation-animations";

$addis-grey : $crumb-bg;
$addis-grey-border : $crumb-border-color;
 .alert {
  color: $alert-color;
}
.warning {
  color: $warning-color;
}
.info {
  color: darken($info-color, 10%);
}

.error-message {
  display: block;
  color: $drugis-color;
}

/////////////////////////// top nav bar 
.top-bar-section .has-form {
  height: 44px;
}

.user-image {
  margin-top: -1px;
  margin-right: 4px;
  height: 32px;
  border-radius: 15px;
}

.has-message {
  height: 44px;
  padding: 9px 4px;
}

.header-message {
  color: darken($addis-grey, 10%);
  font-size: 13px;
}

.color-stripe {
  background: $drugis-color;
  height: 0.45rem;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  -moz-box-shadow:    0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

/////////////////////////// end top nav

.main-content {
  padding-top: 77px; // clear fixed navbar
}

/////////////////////////// study

.study-item {
  margin: 0 0 3rem 0;
}

/////////////////////////// end study



