<form novalidate ng-submit="editItem()">
  <div class="row">
    <div class="large-9 medium-12 columns">
      <h3>Edit population information</h3>
    </div>
  </div>

   <div class="row">
    <div class="large-9 columns">
      <label>Indication
        <textarea autofocus rows="8" ng-model="itemScratch.indication.label"></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-9 columns">
      <label>Eligibility criteria
        <textarea rows="8" ng-model="itemScratch.eligibilityCriteria.label"></textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-9 columns">
      <button class="success" type="submit">Edit
      </button>
    </div>
  </div>
  <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</form>
