<div class="grid-x grid-margin-x">
  <div class="cell large-6">
    <label>Number of time units</label>
    <input type="number" name="input" step="1" min="0" ng-model="durationScratch.numberOfPeriods"
      min="0" ng-change="durationString = generateDurationString(durationScratch)">
  </div>
  <div class="cell large-6">
    <label>Time unit</label>
    <select ng-model="durationScratch.periodType" placeholder="select unitName" ng-options="periodTypeOption.label for periodTypeOption in periodTypeOptions track by periodTypeOption.code"
      ng-change="durationString = generateDurationString(durationScratch)"></select>
  </div>
</div>