<form novalidate ng-submit="commit()" class="scrollable-wrapper">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h3>{{actionType}} activity</h3>
      </div>
      <div class="cell">
        <label>Name
          <input autofocus="true" type="text" ng-disabled="treatmentDirective.isVisible" ng-model="itemScratch.label">
        </label>
      </div>
      <div class="cell">
        <label>Description
          <textarea grid-xs="4" ng-disabled="treatmentDirective.isVisible" ng-model="itemScratch.activityDescription"></textarea>
        </label>
      </div>
      <div class="cell">
        <label>Type
          <inline-help help-key="activity-type"></inline-help>
          <select ng-disabled="treatmentDirective.isVisible" ng-model="itemScratch.activityType"
            placeholder="select type" ng-options="activityType.label for activityType in activityTypeOptions"
            ng-change="typeChanged()">
          </select>
        </label>
      </div>
    </div>

    <div ng-show="itemScratch.activityType.uri === 'ontology:TreatmentActivity'">
      <div class="grid-x">
        <div class="cell">
          <label>Treatment drugs
            <inline-help help-key="treatment-drugs"></inline-help>
          </label>
          <ul class="form-list">
            <li ng-repeat="treatment in itemScratch.treatments">
              <span ng-show="treatment.treatmentDoseType === 'ontology:FixedDoseDrugTreatment'">{{treatment.drug.label}}, {{treatment.fixedValue | exponentialFilter}}
                {{treatment.doseUnit.label}} per {{treatment.dosingPeriodicity |
                durationFilter }}
              </span>
              <span ng-show="treatment.treatmentDoseType === 'ontology:TitratedDoseDrugTreatment'">{{treatment.drug.label}}, {{treatment.minValue | exponentialFilter}}-{{treatment.maxValue
                | exponentialFilter}} {{treatment.doseUnit.label}} per {{treatment.dosingPeriodicity
                | durationFilter }}</span>
            </li>
            <li ng-show="!itemScratch.treatments">no treatment drugs defined</li>
          </ul>
          <a class="button small" ng-click="addDrugClicked()" ng-show="!treatmentDirective.isVisible  "><i class="fa fa-plus"></i> Add treatment drug</a>
        </div>
      </div>
      <treatment></treatment>
    </div>

    <div class="grid-x">
      <div class="cell">
        <button class="button success" type="submit" ng-disabled="!itemScratch.label || !itemScratch.activityType || isAddTreatmentMode || treatmentDirective.isVisible || isEditing || notEnoughTreatments">{{actionType}}</button>
      </div>
    </div>
  </div>
  <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</form>