<div class="row" ng-show="treatmentDirective.isVisible">

  <div class="large-12 medium-12 columns">
    <div class="panel">

      <div class="row">
        <div class="large-12 medium-12 columns">
          <label>Drug
            <input type="text" ng-model="treatment.drug" typeahead="drug as drug.label for drug in drugs | filter:{label:$viewValue}" class="form-control">
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-9 medium-12 columns">
          <label>Dose type</label>
          <input ng-model="treatment.treatmentDoseType" type="radio" value="ontology:FixedDoseDrugTreatment" id="fixedOption">
          <label for="fixedOption">fixed</label>
          <input ng-model="treatment.treatmentDoseType" type="radio" value="ontology:TitratedDoseDrugTreatment" id="titratedOption">
          <label for="titratedOption">titrated</label>
        </div>
      </div>

      <div class="row" ng-show="treatment.treatmentDoseType === 'ontology:FixedDoseDrugTreatment' ">
        <div class="large-2 medium-3 columns">
          <label>Dose amount</label>
          <input ng-model="treatment.fixedValue" type="number">
        </div>
        <div class="large-2 medium-3 columns end">
          <label>Dose unit
            <input type="text" ng-model="treatment.doseUnit" typeahead="doseUnit as doseUnit.label for doseUnit in doseUnits | filter:$viewValue" class="form-control">
          </label>
        </div>
      </div>

      <div class="row" ng-show="treatment.treatmentDoseType === 'ontology:TitratedDoseDrugTreatment' ">
        <div class="large-2 medium-3 columns">
          <label>Minimun dose</label>
          <input ng-model="treatment.minValue" type="number">
        </div>
        <div class="large-2 medium-3 columns">
          <label>Maximum dose</label>
          <input ng-model="treatment.maxValue" type="number">
        </div>
        <div class="large-3 medium-3 columns end">
          <label>Dose unit
          <input type="text" ng-model="treatment.doseUnit" typeahead="doseUnit as doseUnit.label for doseUnit in doseUnits | filter:$viewValue" class="form-control">
          </label>
        </div>
      </div>

      <div class="row">
        <duration-input duration-string="treatment.dosingPeriodicity"
        template-url="app/js/activity/dosingPeriodicityDirective.html" ></duration-input>
      </div>

      <ul class="button-group">
        <li>
          <button type="button" class="button small secondary" ng-click="cancelAddDrug()">Cancel</button>
        </li>
        <li>
          <button type="button" class="small" ng-disabled="!isValidTreatment()" ng-click="addTreatment(treatment)">Add drug</button>
        </li>
      </ul>

    </div>
  </div>

</div>
