<div class="grid-x" ng-show="treatmentDirective.isVisible">

  <div class="cell">
    <div class="panel">

      <div class="grid-x">
        <div class="cell">
          <label>Drug
            <angucomplete-alt id="drug-name" selected-object="drugChanged" local-data="drugs"
              override-suggestions="true" search-fields="label" title-field="label"
              minlength="1" input-class="form-control">
          </label>
        </div>
      </div>

      <div class="grid-x">
        <div class="cell">
          <label>Dose type</label>
          <input ng-model="treatment.treatmentDoseType" type="radio" value="ontology:FixedDoseDrugTreatment"
            id="fixedOption">
          <label for="fixedOption">fixed</label>
          <input ng-model="treatment.treatmentDoseType" type="radio" value="ontology:TitratedDoseDrugTreatment"
            id="titratedOption">
          <label for="titratedOption">titrated</label>
        </div>
      </div>

      <div class="grid-x grid-margin-x" ng-show="treatment.treatmentDoseType === 'ontology:FixedDoseDrugTreatment' ">
        <div class="cell large-4">
          <label>Dose amount</label>
          <input ng-model="treatment.fixedValue" ng-change="checkIsValidTreatment()" type="number">
        </div>
        <div class="cell large-4">
          <label>Dose unit name
            <angucomplete-alt id="done-unit-name" selected-object="doseUnitChanged" local-data="doseUnits"
              override-suggestions="true" search-fields="label" title-field="label"
              minlength="1" input-class="form-control">
          </label>
        </div>
      </div>

      <div class="grid-x grid-margin-x" ng-show="treatment.treatmentDoseType === 'ontology:TitratedDoseDrugTreatment' ">
        <div class="cell large-3">
          <label>Minimum dose</label>
          <input ng-model="treatment.minValue" ng-change="checkIsValidTreatment()" type="number">
        </div>
        <div class="cell large-3">
          <label>Maximum dose</label>
          <input ng-model="treatment.maxValue" ng-change="checkIsValidTreatment()" type="number">
        </div>
        <div class="cell large-5">
          <label>Dose unit name
            <angucomplete-alt id="done-unit-name" selected-object="doseUnitChanged" local-data="doseUnits"
              override-suggestions="true" search-fields="label" title-field="label"
              minlength="1" input-class="form-control">
          </label>
        </div>
      </div>

      <div class="grid-x">
        <div class="cell">
          Once per
        </div>
      </div>
      <div class="grid-x">
        <duration-input duration-string="treatment.dosingPeriodicity" template-url="activityDosingPeriodicityDirective.html"></duration-input>
      </div>

      <div class="button-group">
        <button type="button" class="button small secondary" ng-click="cancelAddDrug()">Cancel</button>
        <button type="button" class="button small" ng-disabled="!isValidTreatment" ng-click="addTreatment(treatment)">Add drug</button>
      </div>

    </div>
  </div>

</div>