<div class="grid-x" ng-show="treatmentDirective.isVisible">

  <div class="cell">
    <div class="panel">

      <div class="grid-x">
        <div class="cell">
          <label>Drug
            <input type="text" ng-model="treatment.drug" typeahead="drug as drug.label for drug in drugs | filter:{label:$viewValue}"
              class="form-control">
          </label>
        </div>
      </div>

      <div class="grid-x">
        <div class="cell">
          <label>Dose type</label>
          <input ng-model="treatment.treatmentDoseType" type="radio" value="ontology:FixedDoseDrugTreatment"
            id="fixedOption">
          <label for="fixedOption">fixed</label>
          <input ng-model="treatment.treatmentDoseType" type="radio" value="ontology:TitratedDoseDrugTreatment"
            id="titratedOption">
          <label for="titratedOption">titrated</label>
        </div>
      </div>

      <div class="grid-x" ng-show="treatment.treatmentDoseType === 'ontology:FixedDoseDrugTreatment' ">
        <div class="cell large-2 medium-3 ">
          <label>Dose amount</label>
          <input ng-model="treatment.fixedValue" type="number">
        </div>
        <div class="cell large-2 medium-3 end">
          <label>Dose unit name
            <input type="text" ng-model="treatment.doseUnit" typeahead="doseUnit as doseUnit.label for doseUnit in doseUnits | filter:$viewValue"
              class="form-control">
          </label>
        </div>
      </div>

      <div class="grid-x" ng-show="treatment.treatmentDoseType === 'ontology:TitratedDoseDrugTreatment' ">
        <div class="cell large-2 medium-3">
          <label>Minimum dose</label>
          <input ng-model="treatment.minValue" type="number">
        </div>
        <div class="cell large-2 medium-3">
          <label>Maximum dose</label>
          <input ng-model="treatment.maxValue" type="number">
        </div>
        <div class="cell large-3 medium-3 end">
          <label>Dose unit name
            <input type="text" ng-model="treatment.doseUnit" typeahead="doseUnit as doseUnit.label for doseUnit in doseUnits | filter:$viewValue"
              class="form-control">
          </label>
        </div>
      </div>

      <div class="grid-x">
        <div class="cell">
          Once per
        </div>
      </div>
      <div class="grid-x">
        <duration-input duration-string="treatment.dosingPeriodicity" template-url="app/js/activity/dosingPeriodicityDirective.html"></duration-input>
      </div>

      <ul class="button-group">
        <li>
          <button type="button" class="button small secondary" ng-click="cancelAddDrug()">Cancel</button>
        </li>
        <li>
          <button type="button" class="button small" ng-disabled="!isValidTreatment()" ng-click="addTreatment(treatment)">Add drug</button>
        </li>
      </ul>

    </div>
  </div>

</div>
