<navbar-directive></navbar-directive>
<div class="row">
  <div class="columns">
    <div ng-if="error" class="row" ng-cloak>
      <div class="columns">
        <app-alert type="alert" close="error.close()" error="error">
          </span>
        </app-alert>
      </div>
    </div>
    <alert type="info">
      <strong>Disclaimer:</strong>this is
      <em>beta</em>software. We store your projects on our servers. While we try our
      best to keep them secure and compatible with future versions, we can make no
      guarantees.
    </alert>
  </div>
</div>
<div class="row">
  <div class="columns large-12">
    <div class="row user-header">
      <div class="columns large-1">
        <img class="user-image-large" ng-src="https://secure.gravatar.com/avatar/{{::user.md5}}?s=43&d=mm">
      </div>
      <div class="columns large-11">
        <h1>{{::user.firstName}} {{::user.lastName}}</h1>
      </div>
    </div>
    <tabset>
      <tab heading="Datasets" ng-click="selectTab('datasets')" active="activetab === 'datasets'">
        <div ui-view></div>
      </tab>
      <tab heading="Projects" ng-click="selectTab('projects')" active="activetab === 'projects'">
        <div ui-view></div>
      </tab>
      <tab heading="Search Studies" ng-click="selectTab('search')" active="activetab === 'search'">
        <div ui-view></div>
      </tab>
    </tabset>
  </div>
</div>
