<navbar-directive></navbar-directive>
<div class="grid-container">
  <div class="grid-x">
    <div class="cell">
      <div class="grid-x user-header">
        <div class="cell large-1">
          <img class="user-image-large" ng-src="https://secure.gravatar.com/avatar/{{::user.md5}}?s=43&d=mm">
        </div>
        <div class="cell large-11">
          <h1 id="user-view-user-name">{{::user.firstName}} {{::user.lastName}}</h1>
        </div>
      </div>
      <div class="grid-container full">
        <div class="grid-x" style="margin-bottom: 10px">
          <div ng-class="activetab === 'datasets' ? 'tab-is-active' : 'tab-is-inactive'" class="cell shrink tab-common" ng-click="selectTab('datasets')">
            Datasets
          </div>
          <div ng-class="activetab === 'projects' ? 'tab-is-active' : 'tab-is-inactive'" class="cell shrink tab-common" ng-click="selectTab('projects')">
            Projects
          </div>
          <div ng-class="activetab === 'search' ? 'tab-is-active' : 'tab-is-inactive'" class="cell shrink tab-common" ng-click="selectTab('search')">
            Search Studies
          </div>
        </div>
      </div>

      <div class="grid-x">
        <div class="cell" ui-view></div>
      </div>
    </div>
  </div>
</div>